{
  "Entries": [
    {
      "RequestUri": "https://dotnetllcpurviewaccount.purview.azure.com/catalog/api/atlas/v2/entity/bulk/classification",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "classification": {
          "typeName": "test_classification1025"
        },
        "entityGuids": [
          "07bccfca-2aba-4c83-bc07-dceb7e77dd31"
        ]
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "requestid": "804b72b5-4165-409b-8124-a8643a2c34fe"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://dotnetllcpurviewaccount.purview.azure.com/catalog/api/atlas/v2/entity/guid/07bccfca-2aba-4c83-bc07-dceb7e77dd31/classification/test_classification1025",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "typeName": "test_classification1025",
        "lastModifiedTS": "1",
        "entityGuid": "07bccfca-2aba-4c83-bc07-dceb7e77dd31",
        "entityStatus": "ACTIVE"
      }
    },
    {
      "RequestUri": "https://dotnetllcpurviewaccount.purview.azure.com/catalog/api/atlas/v2/entity/guid/07bccfca-2aba-4c83-bc07-dceb7e77dd31/classification/test_classification1025",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "lastmodifiedts": "9",
        "requestid": "127d6f58-ac0c-47d7-baa5-0470caf2ae74"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "PURVIEW_ACCOUNT_URL": "https://dotnetllcpurviewaccount.purview.azure.com/",
    "RandomSeed": "1042174957"
  }
}