{
  "Entries": [
    {
      "RequestUri": "https://dotnetllcpurviewaccount.purview.azure.com/catalog/api/atlas/v2/entity/guid/e6d790c3-93b2-4e5c-a5b6-3d711a440f79/classifications",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\u0022typeName\u0022:\u0022MICROSOFT.FINANCIAL.US.ABA_ROUTING_NUMBER\u0022,\u0022entityGuid\u0022:\u0022e6d790c3-93b2-4e5c-a5b6-3d711a440f79\u0022},{\u0022typeName\u0022:\u0022MICROSOFT.FINANCIAL.CREDIT_CARD_NUMBER\u0022,\u0022entityGuid\u0022:\u0022e6d790c3-93b2-4e5c-a5b6-3d711a440f79\u0022}]",
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "lastmodifiedts": "31",
        "requestid": "8c4a3480-514b-45d9-a7ca-99a45c7c611e"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://dotnetllcpurviewaccount.purview.azure.com/catalog/api/atlas/v2/entity/uniqueAttribute/type/aws_s3_v2_object/classifications?attr:qualifiedName=s3%3A%2F%2Ftestpurview%2Flocalcsvfile.csv",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\u0022typeName\u0022:\u0022MICROSOFT.FINANCIAL.US.ABA_ROUTING_NUMBER\u0022,\u0022entityGuid\u0022:\u0022e6d790c3-93b2-4e5c-a5b6-3d711a440f79\u0022}]",
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "lastmodifiedts": "33",
        "requestid": "1b2c6bb9-aa6d-4249-a4c9-a1a6debdf4b2"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://dotnetllcpurviewaccount.purview.azure.com/catalog/api/atlas/v2/entity/guid/e6d790c3-93b2-4e5c-a5b6-3d711a440f79/classifications",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "list": [
          {
            "typeName": "Microsoft.Label.9FBDE396_1A24_4C79_8EDF_9254A0F35055",
            "lastModifiedTS": "1",
            "entityGuid": "e6d790c3-93b2-4e5c-a5b6-3d711a440f79",
            "entityStatus": "ACTIVE",
            "source": "LabelService"
          },
          {
            "typeName": "MICROSOFT.FINANCIAL.US.ABA_ROUTING_NUMBER",
            "lastModifiedTS": "1",
            "entityGuid": "e6d790c3-93b2-4e5c-a5b6-3d711a440f79",
            "entityStatus": "ACTIVE"
          },
          {
            "typeName": "MICROSOFT.FINANCIAL.CREDIT_CARD_NUMBER",
            "lastModifiedTS": "1",
            "entityGuid": "e6d790c3-93b2-4e5c-a5b6-3d711a440f79",
            "entityStatus": "ACTIVE"
          }
        ],
        "startIndex": 0,
        "pageSize": 3,
        "totalCount": 3,
        "sortType": "NONE"
      }
    }
  ],
  "Variables": {
    "PURVIEW_ACCOUNT_URL": "https://dotnetllcpurviewaccount.purview.azure.com/",
    "RandomSeed": "1814923443"
  }
}