{
  "Entries": [
    {
      "RequestUri": "https://dotnetllcpurviewaccount.purview.azure.com/catalog/api/atlas/v2/entity",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "entity": {
          "typeName": "aws_s3_v2_bucket",
          "attributes": {
            "qualifiedName": "s3://testpurview",
            "description": "test-description1020",
            "accountId": "952454463371",
            "name": "test-datasource1020",
            "region": "US West (N. California)"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "mutatedEntities": {
          "CREATE": [
            {
              "typeName": "aws_s3_v2_bucket",
              "attributes": {
                "qualifiedName": "s3://testpurview"
              },
              "lastModifiedTS": "1",
              "guid": "2b3d955e-9066-4826-835b-2a0d22e3536e"
            }
          ]
        },
        "guidAssignments": {
          "-2047844914989": "2b3d955e-9066-4826-835b-2a0d22e3536e"
        }
      }
    }
  ],
  "Variables": {
    "PURVIEW_ACCOUNT_URL": "https://dotnetllcpurviewaccount.purview.azure.com/",
    "RandomSeed": "545003601",
    "S3_Account_ID": "952454463371"
  }
}