{
  "Entries": [
    {
      "RequestUri": "https://dotnetllcpurviewaccount.purview.azure.com/catalog/api/atlas/v2/entity",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "entity": {
          "typeName": "aws_s3_v2_bucket",
          "attributes": {
            "qualifiedName": "s3://testpurview",
            "description": "test-description1020",
            "accountId": "952454463371",
            "name": "test-datasource1020",
            "region": "US West (N. California)"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "mutatedEntities": {
          "UPDATE": [
            {
              "typeName": "aws_s3_v2_bucket",
              "attributes": {
                "qualifiedName": "s3://testpurview"
              },
              "lastModifiedTS": "2",
              "guid": "2f9c0152-07cb-4491-8997-fe1217002778"
            }
          ]
        },
        "guidAssignments": {
          "-134490927924046": "2f9c0152-07cb-4491-8997-fe1217002778"
        }
      }
    },
    {
      "RequestUri": "https://dotnetllcpurviewaccount.purview.azure.com/catalog/api/atlas/v2/entity/guid/2f9c0152-07cb-4491-8997-fe1217002778",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "referredEntities": {},
        "entity": {
          "typeName": "aws_s3_v2_bucket",
          "attributes": {
            "owner": null,
            "s3AccessPolicies": [],
            "replicatedTo": null,
            "creationTime": 0,
            "replicatedFrom": null,
            "qualifiedName": "s3://testpurview",
            "lifeCycleRules": [],
            "description": "test-description1020",
            "ownerId": null,
            "cloudWatchMetrics": [],
            "accountId": "952454463371",
            "ownerName": null,
            "encryption": "null",
            "partner": null,
            "permissions": "Bucket and objects not public",
            "domain": null,
            "name": "test-datasource1020",
            "eTag": null,
            "region": "US West (N. California)",
            "awsTags": []
          },
          "lastModifiedTS": "2",
          "guid": "2f9c0152-07cb-4491-8997-fe1217002778",
          "status": "ACTIVE",
          "createdBy": "ServiceAdmin",
          "updatedBy": "6d0fee93-2b74-46dd-a497-e74f724b6125",
          "createTime": 1635214498392,
          "updateTime": 1635232365018,
          "version": 0,
          "sourceDetails": {
            "ScanResourceId": "datasources/test-datasource1025/scans/scan1",
            "ScanLastModifiedAt": "2021-10-26T02:03:48.1230612Z",
            "ScanRuleSetResourceId": "scanrulesets/AmazonS3",
            "ScanRuleSetLastModifiedAt": "2021-07-30T22:44:12.7309721Z"
          },
          "collectionId": "dotnetLLCPurviewAccount",
          "relationshipAttributes": {
            "schema": [],
            "inputToProcesses": [],
            "contained": [],
            "attachedSchema": [],
            "meanings": [],
            "outputFromProcesses": []
          }
        }
      }
    },
    {
      "RequestUri": "https://dotnetllcpurviewaccount.purview.azure.com/catalog/api/atlas/v2/entity/guid/2f9c0152-07cb-4491-8997-fe1217002778/header",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "typeName": "aws_s3_v2_bucket",
        "attributes": {
          "qualifiedName": "s3://testpurview",
          "name": "test-datasource1020",
          "description": "test-description1020"
        },
        "lastModifiedTS": "2",
        "guid": "2f9c0152-07cb-4491-8997-fe1217002778",
        "status": "ACTIVE",
        "displayText": "test-datasource1020",
        "classificationNames": [],
        "meaningNames": [],
        "meanings": [],
        "collectionId": "dotnetLLCPurviewAccount"
      }
    },
    {
      "RequestUri": "https://dotnetllcpurviewaccount.purview.azure.com/catalog/api/atlas/v2/entity/guid/2f9c0152-07cb-4491-8997-fe1217002778",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "mutatedEntities": {
          "DELETE": [
            {
              "typeName": "aws_s3_v2_bucket",
              "attributes": {
                "qualifiedName": "s3://testpurview",
                "name": "test-datasource1020",
                "description": "test-description1020"
              },
              "lastModifiedTS": "3",
              "guid": "2f9c0152-07cb-4491-8997-fe1217002778",
              "status": "ACTIVE",
              "displayText": "test-datasource1020",
              "classificationNames": [],
              "meaningNames": [],
              "meanings": [],
              "collectionId": "dotnetLLCPurviewAccount"
            }
          ]
        }
      }
    }
  ],
  "Variables": {
    "PURVIEW_ACCOUNT_URL": "https://dotnetllcpurviewaccount.purview.azure.com/",
    "RandomSeed": "1713844145",
    "S3_Account_ID": "952454463371"
  }
}