{
  "Entries": [
    {
      "RequestUri": "https://dotnetllcpurviewaccount.purview.azure.com/catalog/api/atlas/v2/entity/guid/418522bd-3eb1-4b42-ba24-368e0214f677",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "referredEntities": {},
        "entity": {
          "typeName": "aws_s3_v2_bucket",
          "attributes": {
            "owner": null,
            "s3AccessPolicies": [],
            "replicatedTo": null,
            "creationTime": 0,
            "replicatedFrom": null,
            "qualifiedName": "s3://testpurview",
            "lifeCycleRules": [],
            "description": "test-descriptionv2",
            "ownerId": null,
            "cloudWatchMetrics": [],
            "accountId": "952454463371",
            "ownerName": null,
            "encryption": "null",
            "partner": null,
            "permissions": "Bucket and objects not public",
            "domain": null,
            "name": "test-datasource1019v2",
            "eTag": null,
            "region": "US West (N. California)",
            "awsTags": []
          },
          "lastModifiedTS": "12",
          "guid": "418522bd-3eb1-4b42-ba24-368e0214f677",
          "status": "ACTIVE",
          "createdBy": "ServiceAdmin",
          "updatedBy": "6d0fee93-2b74-46dd-a497-e74f724b6125",
          "createTime": 1634614048405,
          "updateTime": 1634634080972,
          "version": 0,
          "sourceDetails": {
            "ScanResourceId": "datasources/test-source1019/scans/test-scan1009",
            "ScanLastModifiedAt": "2021-10-19T03:22:40.0529928Z",
            "ScanRuleSetResourceId": "scanrulesets/AmazonS3",
            "ScanRuleSetLastModifiedAt": "2021-07-30T22:44:12.7309721Z"
          },
          "collectionId": "qntc3t",
          "relationshipAttributes": {
            "schema": [],
            "inputToProcesses": [],
            "contained": [],
            "attachedSchema": [],
            "meanings": [],
            "outputFromProcesses": []
          }
        }
      }
    }
  ],
  "Variables": {
    "PURVIEW_ACCOUNT_URL": "https://dotnetllcpurviewaccount.purview.azure.com/",
    "RandomSeed": "735150343"
  }
}