{
  "Entries": [
    {
      "RequestUri": "https://dotnetllcpurviewaccount.purview.azure.com/catalog/api/atlas/v2/relationship",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "typeName": "AtlasGlossarySynonym",
        "attributes": {
          "description": "Test description"
        },
        "end1": {
          "guid": "aab4d687-59f2-44d8-ae7a-f5d6155a2fb0",
          "typeName": "AtlasGlossaryTerm"
        },
        "end2": {
          "guid": "8a825468-d64e-4ecf-a416-c03fd9a14762",
          "typeName": "AtlasGlossaryTerm"
        },
        "status": "ACTIVE"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-cosmosdb-throttle": "0"
      },
      "ResponseBody": {
        "typeName": "AtlasGlossarySynonym",
        "attributes": {
          "expression": null,
          "steward": null,
          "description": "Test description",
          "source": null,
          "status": null
        },
        "lastModifiedTS": "1",
        "guid": "29404dc2-407f-4aa4-9510-d54106332944",
        "provenanceType": 0,
        "end1": {
          "guid": "aab4d687-59f2-44d8-ae7a-f5d6155a2fb0",
          "typeName": "AtlasGlossaryTerm",
          "uniqueAttributes": {
            "qualifiedName": "test1@Glossary"
          }
        },
        "end2": {
          "guid": "8a825468-d64e-4ecf-a416-c03fd9a14762",
          "typeName": "AtlasGlossaryTerm",
          "uniqueAttributes": {
            "qualifiedName": "test2@Glossary"
          }
        },
        "label": "r:AtlasGlossarySynonym",
        "status": "ACTIVE",
        "createdBy": "6d0fee93-2b74-46dd-a497-e74f724b6125",
        "updatedBy": "6d0fee93-2b74-46dd-a497-e74f724b6125",
        "createTime": 1635409433006,
        "updateTime": 1635409433006,
        "version": 0,
        "propagatedClassifications": []
      }
    },
[...]
    {
      "RequestUri": "https://dotnetllcpurviewaccount.purview.azure.com/catalog/api/atlas/v2/relationship/guid/29404dc2-407f-4aa4-9510-d54106332944",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "relationship": {
          "typeName": "AtlasGlossarySynonym",
          "attributes": {
            "expression": null,
            "steward": null,
            "description": "Updated Test description",
            "source": null,
            "status": null
          },
          "lastModifiedTS": "2",
          "guid": "29404dc2-407f-4aa4-9510-d54106332944",
          "provenanceType": 0,
          "end1": {
            "guid": "aab4d687-59f2-44d8-ae7a-f5d6155a2fb0",
            "typeName": "AtlasGlossaryTerm",
            "uniqueAttributes": {
              "qualifiedName": "test1@Glossary"
            }
          },
          "end2": {
            "guid": "8a825468-d64e-4ecf-a416-c03fd9a14762",
            "typeName": "AtlasGlossaryTerm",
            "uniqueAttributes": {
              "qualifiedName": "test2@Glossary"
            }
          },
          "label": "r:AtlasGlossarySynonym",
          "status": "ACTIVE",
          "createdBy": "6d0fee93-2b74-46dd-a497-e74f724b6125",
          "updatedBy": "6d0fee93-2b74-46dd-a497-e74f724b6125",
          "createTime": 1635409433006,
          "updateTime": 1635409433006,
          "version": 0,
          "propagatedClassifications": []
        }
      }
    },
    {
      "RequestUri": "https://dotnetllcpurviewaccount.purview.azure.com/catalog/api/atlas/v2/relationship/guid/29404dc2-407f-4aa4-9510-d54106332944",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "requestid": "708b78ff-5437-4b89-b335-c783c05c240c"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "PURVIEW_ACCOUNT_URL": "https://dotnetllcpurviewaccount.purview.azure.com/",
    "RandomSeed": "882576506"
  }
}