{
  "Entries": [
    {
      "RequestUri": "https://dotnetllcpurviewaccount.purview.azure.com/catalog/api/atlas/v2/relationship",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "typeName": "AtlasGlossarySynonym",
        "attributes": {
          "description": "Test description"
        },
        "end1": {
          "guid": "dc1e6399-022c-4559-866e-1638cb84ab91",
          "typeName": "AtlasGlossaryTerm"
        },
        "end2": {
          "guid": "1736c1f2-c072-4fee-99a1-eb47d156bb12",
          "typeName": "AtlasGlossaryTerm"
        },
        "status": "ACTIVE"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-cosmosdb-throttle": "0"
      },
      "ResponseBody": {
        "typeName": "AtlasGlossarySynonym",
        "attributes": {
          "expression": null,
          "steward": null,
          "description": "Test description",
          "source": null,
          "status": null
        },
        "lastModifiedTS": "1",
        "guid": "16063f9c-e22e-4f79-a850-e818a1542a1d",
        "provenanceType": 0,
        "end1": {
          "guid": "dc1e6399-022c-4559-866e-1638cb84ab91",
          "typeName": "AtlasGlossaryTerm",
          "uniqueAttributes": {
            "qualifiedName": "test@Glossary"
          }
        },
        "end2": {
          "guid": "1736c1f2-c072-4fee-99a1-eb47d156bb12",
          "typeName": "AtlasGlossaryTerm",
          "uniqueAttributes": {
            "qualifiedName": "test_test2@Glossary"
          }
        },
        "label": "r:AtlasGlossarySynonym",
        "status": "ACTIVE",
        "createdBy": "6d0fee93-2b74-46dd-a497-e74f724b6125",
        "updatedBy": "6d0fee93-2b74-46dd-a497-e74f724b6125",
        "createTime": 1636601147088,
        "updateTime": 1636601147088,
        "version": 0,
        "propagatedClassifications": []
      }
    },
[...]
    {
      "RequestUri": "https://dotnetllcpurviewaccount.purview.azure.com/catalog/api/atlas/v2/relationship/guid/16063f9c-e22e-4f79-a850-e818a1542a1d?extendedInfo=false",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "relationship": {
          "typeName": "AtlasGlossarySynonym",
          "attributes": {
            "expression": null,
            "steward": null,
            "description": "Updated Test description",
            "source": null,
            "status": null
          },
          "lastModifiedTS": "2",
          "guid": "16063f9c-e22e-4f79-a850-e818a1542a1d",
          "provenanceType": 0,
          "end1": {
            "guid": "dc1e6399-022c-4559-866e-1638cb84ab91",
            "typeName": "AtlasGlossaryTerm",
            "uniqueAttributes": {
              "qualifiedName": "test@Glossary"
            }
          },
          "end2": {
            "guid": "1736c1f2-c072-4fee-99a1-eb47d156bb12",
            "typeName": "AtlasGlossaryTerm",
            "uniqueAttributes": {
              "qualifiedName": "test_test2@Glossary"
            }
          },
          "label": "r:AtlasGlossarySynonym",
          "status": "ACTIVE",
          "createdBy": "6d0fee93-2b74-46dd-a497-e74f724b6125",
          "updatedBy": "6d0fee93-2b74-46dd-a497-e74f724b6125",
          "createTime": 1636601147088,
          "updateTime": 1636601147088,
          "version": 0,
          "propagatedClassifications": []
        }
      }
    },
    {
      "RequestUri": "https://dotnetllcpurviewaccount.purview.azure.com/catalog/api/atlas/v2/relationship/guid/16063f9c-e22e-4f79-a850-e818a1542a1d",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "requestid": "eca04243-14b6-4995-a2a3-0ea0766b7564"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "PURVIEW_ACCOUNT_URL": "https://dotnetllcpurviewaccount.purview.azure.com/",
    "RandomSeed": "882576506"
  }
}