{
  "Entries": [
    {
      "RequestUri": "https://dotnetllcpurviewaccount.purview.azure.com/catalog/api/atlas/v2/lineage/b88ba3c5-ae50-4803-809e-a783cbdcbf1a?direction=INPUT",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "baseEntityGuid": "b88ba3c5-ae50-4803-809e-a783cbdcbf1a",
        "lineageDirection": "INPUT",
        "lineageDepth": 3,
        "lineageWidth": 10,
        "childrenCount": -1,
        "guidEntityMap": {},
        "includeParent": false,
        "relations": [],
        "parentRelations": [],
        "widthCounts": {
          "INPUT": {}
        }
      }
    }
  ],
  "Variables": {
    "PURVIEW_ACCOUNT_URL": "https://dotnetllcpurviewaccount.purview.azure.com/",
    "RandomSeed": "31091141"
  }
}