{
  "Entries": [
    {
      "RequestUri": "https://dotnetllcpurviewaccount.purview.azure.com/catalog/api/atlas/v2/lineage/26fff2b7-bb60-4443-ad26-47d466de2f45?depth=0\u0026direction=INPUT",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "baseEntityGuid": "26fff2b7-bb60-4443-ad26-47d466de2f45",
        "lineageDirection": "INPUT",
        "lineageDepth": 0,
        "lineageWidth": 10,
        "childrenCount": -1,
        "guidEntityMap": {},
        "includeParent": false,
        "relations": [],
        "parentRelations": [],
        "widthCounts": {
          "INPUT": {}
        }
      }
    }
  ],
  "Variables": {
    "PURVIEW_ACCOUNT_URL": "https://dotnetllcpurviewaccount.purview.azure.com/",
    "RandomSeed": "1324419296"
  }
}