{
  "Entries": [
    {
      "RequestUri": "https://dotnetllcpurviewaccount.purview.azure.com/catalog/api/lineage/26fff2b7-bb60-4443-ad26-47d466de2f45/next/?direction=OUTPUT\u0026getDerivedLineage=false\u0026api-version=2021-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "baseEntityGuid": "26fff2b7-bb60-4443-ad26-47d466de2f45",
        "lineageDirection": "OUTPUT",
        "lineageDepth": 1,
        "lineageWidth": 10,
        "childrenCount": -1,
        "guidEntityMap": {},
        "includeParent": false,
        "relations": [],
        "widthCounts": {
          "OUTPUT": null
        }
      }
    }
  ],
  "Variables": {
    "PURVIEW_ACCOUNT_URL": "https://dotnetllcpurviewaccount.purview.azure.com/",
    "RandomSeed": "1890546409"
  }
}