{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11551"
      },
      "ResponseBody": {
        "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590",
        "authorizationSource": "RoleBased",
        "managedByTenants": [
          {
            "tenantId": "2f4a9838-26b7-47ee-be60-ccc1fdec5953"
          }
        ],
        "tags": {},
        "subscriptionId": "0b1f6471-1bf0-4dda-aec3-cb9272f09590",
        "tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
        "displayName": "AzureSDKTest",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/testRg-3-9922?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1081"
      },
      "ResponseBody": {
        "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/testRg-3-9922",
        "name": "testRg-3-9922",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/testRg-3-9922/providers/Microsoft.Resources/templateSpecs/templateSpec-L-1849?api-version=2021-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2",
        "properties": {
          "description": "Description of my Template Spec",
          "displayName": "templateSpec-L-1849 (Test)"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1080"
      },
      "ResponseBody": {
        "location": "westus2",
        "properties": {
          "displayName": "templateSpec-L-1849 (Test)",
          "description": "Description of my Template Spec"
        },
        "systemData": {
          "createdBy": "47285eb7-8358-4f28-99e1-68cf6d00e0e4",
          "createdByType": "Application",
          "createdAt": "2022-06-23T02:58:54.0993469Z",
          "lastModifiedBy": "47285eb7-8358-4f28-99e1-68cf6d00e0e4",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-06-23T02:58:54.0993469Z"
        },
        "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/testRg-3-9922/providers/Microsoft.Resources/templateSpecs/templateSpec-L-1849",
        "type": "Microsoft.Resources/templateSpecs",
        "name": "templateSpec-L-1849"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Resources/templateSpecs/?api-version=2021-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11550"
      },
      "ResponseBody": {
        "value": [
          {
            "location": "westus2",
            "properties": {
              "displayName": "templateSpec-L-4573 (Test)",
              "description": "Description of my Template Spec"
            },
            "systemData": {
              "createdBy": "47285eb7-8358-4f28-99e1-68cf6d00e0e4",
              "createdByType": "Application",
              "createdAt": "2022-06-23T02:58:48.3805615Z",
              "lastModifiedBy": "47285eb7-8358-4f28-99e1-68cf6d00e0e4",
             [...]
