{
  "Entries": [
    {
      "RequestUri": "https://dotnetllcpurviewaccount.purview.azure.com/catalog/api/collections/dotnetLLCPurviewAccount/entity/bulk?api-version=2021-05-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "entities": [
          {
            "typeName": "aws_s3_v2_bucket",
            "attributes": {
              "name": "test-datasource1019v2",
              "qualifiedName": "s3://testpurview",
              "description": "test-descriptionv2"
            }
          }
        ]
      },
      "StatusCode": 502,
      "ResponseHeaders": {
        "Content-Type": "text/html; charset=UTF-8",
        "Timestamp": "16:25:04.903"
      },
      "ResponseBody": "[Fiddler] The connection to \u0027dotnetllcpurviewaccount.purview.azure.com\u0027 failed. \u003Cbr /\u003EError: ConnectionRefused (0x274d). \u003Cbr /\u003ESystem.Net.Sockets.SocketException No connection could be made because the target machine actively refused it 52.177.254.19:443                                                                                                                                                                                                                                                                  "
    },
    {
      "RequestUri": "https://dotnetllcpurviewaccount.purview.azure.com/catalog/api/collections/dotnetLLCPurviewAccount/entity/bulk?api-version=2021-05-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "entities": [
          {
            "typeName": "aws_s3_v2_bucket",
            "attributes": {
              "name": "test-datasource1019v2",
              "qualifiedName": "s3://testpurview",
              "description": "test-descriptionv2"
            }
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "mutatedEntities": {
          "UPDATE": [
            {
              "typeName": "aws_s3_v2_bucket",
              "attributes": {
                "qualifiedName": "s3://testpurview"
              },
              "lastModifiedTS": "2",
              "guid": "920cd64d-debc-4e10-88ef-8c34797a65fc"
            }
          ]
        },
        "guidAssignments": {
          "-4131698222775378": "920cd64d-debc-4e10-88ef-8c34797a65fc"
        }
      }
    }
  ],
  "Variables": {
    "PURVIEW_ACCOUNT_URL": "https://dotnetllcpurviewaccount.purview.azure.com/",
    "RandomSeed": "528514842"
  }
}