{
  "Entries": [
    {
      "RequestUri": "https://dotnetllcpurviewaccount.purview.azure.com/catalog/api/collections/dotnetLLCPurviewAccount/entity?api-version=2021-05-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "entity": {
          "typeName": "aws_s3_v2_bucket",
          "attributes": {
            "name": "test-datasource1019v2",
            "qualifiedName": "s3://testpurview"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "mutatedEntities": {
          "CREATE": [
            {
              "typeName": "aws_s3_v2_bucket",
              "attributes": {
                "qualifiedName": "s3://testpurview"
              },
              "lastModifiedTS": "8",
              "guid": "418522bd-3eb1-4b42-ba24-368e0214f677"
            }
          ]
        },
        "guidAssignments": {
          "-2261992755684444": "418522bd-3eb1-4b42-ba24-368e0214f677"
        }
      }
    }
  ],
  "Variables": {
    "PURVIEW_ACCOUNT_URL": "https://dotnetllcpurviewaccount.purview.azure.com/",
    "RandomSeed": "1720073057"
  }
}