{
  "Entries": [
    {
      "RequestUri": "https://dotnetllcpurviewaccount.purview.azure.com/catalog/api/collections/dotnetLLCPurviewAccount/entity/bulk?api-version=2021-05-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "entities": [
          {
            "typeName": "aws_s3_v2_bucket",
            "attributes": {
              "name": "test-datasource1019v2",
              "qualifiedName": "s3://testpurview",
              "description": "test-descriptionv2"
            }
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "mutatedEntities": {
          "UPDATE": [
            {
              "typeName": "aws_s3_v2_bucket",
              "attributes": {
                "qualifiedName": "s3://testpurview"
              },
              "lastModifiedTS": "10",
              "guid": "418522bd-3eb1-4b42-ba24-368e0214f677"
            }
          ]
        },
        "guidAssignments": {
          "-2261665437836654": "418522bd-3eb1-4b42-ba24-368e0214f677"
        }
      }
    }
  ],
  "Variables": {
    "PURVIEW_ACCOUNT_URL": "https://dotnetllcpurviewaccount.purview.azure.com/",
    "RandomSeed": "1572240120"
  }
}