{
  "Entries": [
    {
      "RequestUri": "https://dotnetllcpurviewaccount.purview.azure.com/catalog/api/collections/nhx5gh/entity/moveHere?api-version=2021-05-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "entityGuids": [
          "91cec3bb-0f91-470a-9f3b-f7f1d1196cde"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "mutatedEntities": {
          "UPDATE": [
            {
              "typeName": "aws_s3_v2_bucket",
              "attributes": {
                "qualifiedName": "s3://testpurview"
              },
              "lastModifiedTS": "2",
              "guid": "91cec3bb-0f91-470a-9f3b-f7f1d1196cde",
              "status": "ACTIVE"
            }
          ]
        },
        "guidAssignments": {}
      }
    }
  ],
  "Variables": {
    "PURVIEW_ACCOUNT_URL": "https://dotnetllcpurviewaccount.purview.azure.com/",
    "RandomSeed": "1442693928"
  }
}