{
  "Entries": [
    {
      "RequestUri": "https://dotnetllcpurviewaccount.purview.azure.com/catalog/api/atlas/v2/glossary/category/19950dd2-4e89-45b1-be16-a82c45658e78/terms",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": "[{\u0022termGuid\u0022:\u002226229cd6-0779-4d65-abee-f37a0d610a20\u0022,\u0022relationGuid\u0022:\u00224acdf042-3cd9-4912-b87c-4600662c22a9\u0022,\u0022displayText\u0022:\u0022Test\u0022}]"
    }
  ],
  "Variables": {
    "PURVIEW_ACCOUNT_URL": "https://dotnetllcpurviewaccount.purview.azure.com/",
    "RandomSeed": "901898054"
  }
}