{
  "Entries": [
    {
      "RequestUri": "https://dotnetllcpurviewaccount.purview.azure.com/catalog/api/atlas/v2/glossary/terms/26229cd6-0779-4d65-abee-f37a0d610a20/assignedEntities",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": "[{\u0022guid\u0022:\u0022bf77965b-b260-43cd-b753-f5d58b362834\u0022,\u0022typeName\u0022:\u0022aws_s3_v2_object\u0022,\u0022entityStatus\u0022:\u0022ACTIVE\u0022,\u0022displayText\u0022:\u0022localcsvfile.csv\u0022,\u0022relationshipType\u0022:\u0022AtlasGlossarySemanticAssignment\u0022,\u0022relationshipGuid\u0022:\u0022f88ad38d-da68-4b3f-978e-0bde8b0fb2ed\u0022,\u0022relationshipStatus\u0022:\u0022ACTIVE\u0022,\u0022relationshipAttributes\u0022:{\u0022typeName\u0022:\u0022AtlasGlossarySemanticAssignment\u0022,\u0022attributes\u0022:{\u0022expression\u0022:null,\u0022createdBy\u0022:null,\u0022steward\u0022:null,\u0022confidence\u0022:null,\u0022description\u0022:null,\u0022source\u0022:null,\u0022status\u0022:null}}}]"
    }
  ],
  "Variables": {
    "PURVIEW_ACCOUNT_URL": "https://dotnetllcpurviewaccount.purview.azure.com/",
    "RandomSeed": "921855568"
  }
}