{
  "Entries": [
    {
      "RequestUri": "https://dotnetllcpurviewaccount.purview.azure.com/catalog/api/atlas/v2/glossary/5a7916fe-3de0-4da8-ade7-2d5cb6e6a34e/terms/headers",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": "[{\u0022termGuid\u0022:\u002226229cd6-0779-4d65-abee-f37a0d610a20\u0022,\u0022relationGuid\u0022:\u0022925ce247-9992-463e-b503-d66af640595c\u0022,\u0022displayText\u0022:\u0022Test\u0022},{\u0022termGuid\u0022:\u00225966f044-1c56-48b9-bce3-151565626c72\u0022,\u0022relationGuid\u0022:\u0022473a9b67-9e8b-44cf-bcdc-22a65ea0cc31\u0022,\u0022displayText\u0022:\u0022Test_test-child\u0022}]"
    }
  ],
  "Variables": {
    "PURVIEW_ACCOUNT_URL": "https://dotnetllcpurviewaccount.purview.azure.com/",
    "RandomSeed": "482499245"
  }
}