{
  "Entries": [
    {
      "RequestUri": "https://dotnetllcpurviewaccount.purview.azure.com/catalog/api/atlas/v2/glossary/5a7916fe-3de0-4da8-ade7-2d5cb6e6a34e/categories",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": "[{\u0022guid\u0022:\u002219950dd2-4e89-45b1-be16-a82c45658e78\u0022,\u0022qualifiedName\u0022:\u0022GlossaryCategoryTest@Glossary\u0022,\u0022name\u0022:\u0022GlossaryCategoryTest\u0022,\u0022shortDescription\u0022:\u0022Updated Short Description\u0022,\u0022longDescription\u0022:\u0022Updated Long Description\u0022,\u0022lastModifiedTS\u0022:\u00223\u0022,\u0022anchor\u0022:{\u0022glossaryGuid\u0022:\u00225a7916fe-3de0-4da8-ade7-2d5cb6e6a34e\u0022,\u0022relationGuid\u0022:\u002275e48ca2-30db-4107-913c-834c550778dd\u0022},\u0022terms\u0022:[{\u0022termGuid\u0022:\u002226229cd6-0779-4d65-abee-f37a0d610a20\u0022,\u0022relationGuid\u0022:\u00224acdf042-3cd9-4912-b87c-4600662c22a9\u0022,\u0022displayText\u0022:\u0022Test\u0022}]}]"
    }
  ],
  "Variables": {
    "PURVIEW_ACCOUNT_URL": "https://dotnetllcpurviewaccount.purview.azure.com/",
    "RandomSeed": "788609697"
  }
}