{
  "Entries": [
    {
      "RequestUri": "https://dotnetllcpurviewaccount.purview.azure.com/catalog/api/atlas/v2/glossary/5a7916fe-3de0-4da8-ade7-2d5cb6e6a34e/categories/headers",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": "[{\u0022categoryGuid\u0022:\u002219950dd2-4e89-45b1-be16-a82c45658e78\u0022,\u0022relationGuid\u0022:\u002275e48ca2-30db-4107-913c-834c550778dd\u0022,\u0022displayText\u0022:\u0022GlossaryCategoryTest\u0022}]"
    }
  ],
  "Variables": {
    "PURVIEW_ACCOUNT_URL": "https://dotnetllcpurviewaccount.purview.azure.com/",
    "RandomSeed": "1626389464"
  }
}