{
  "Entries": [
    {
      "RequestUri": "https://dotnetllcpurviewaccount.purview.azure.com/catalog/api/glossary/name/Glossary/terms?api-version=2021-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": "[{\u0022createTime\u0022:1635494924263,\u0022qualifiedName\u0022:\u0022Test@Glossary\u0022,\u0022name\u0022:\u0022Test\u0022,\u0022updateTime\u0022:1635494924263,\u0022guid\u0022:\u002226229cd6-0779-4d65-abee-f37a0d610a20\u0022,\u0022status\u0022:\u0022Draft\u0022,\u0022templateName\u0022:[],\u0022shortDescription\u0022:null,\u0022longDescription\u0022:null},{\u0022createTime\u0022:1635494945495,\u0022qualifiedName\u0022:\u0022Test_test-child@Glossary\u0022,\u0022name\u0022:\u0022Test_test-child\u0022,\u0022updateTime\u0022:1635494945495,\u0022guid\u0022:\u00225966f044-1c56-48b9-bce3-151565626c72\u0022,\u0022status\u0022:\u0022Draft\u0022,\u0022templateName\u0022:[],\u0022shortDescription\u0022:null,\u0022longDescription\u0022:null}]"
    }
  ],
  "Variables": {
    "PURVIEW_ACCOUNT_URL": "https://dotnetllcpurviewaccount.purview.azure.com/",
    "RandomSeed": "1027758088"
  }
}