{
  "Entries": [
    {
      "RequestUri": "https://dotnetllcpurviewaccount.purview.azure.com/catalog/api/atlas/v2/glossary/term/26229cd6-0779-4d65-abee-f37a0d610a20",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "guid": "26229cd6-0779-4d65-abee-f37a0d610a20",
        "qualifiedName": "Test@Glossary",
        "name": "Test",
        "lastModifiedTS": "1",
        "createdBy": "9f78dd23-f3c4-450f-84af-d9bd0a224f0b",
        "updatedBy": "9f78dd23-f3c4-450f-84af-d9bd0a224f0b",
        "createTime": 1635494924263,
        "updateTime": 1635494924263,
        "status": "Draft",
        "anchor": {
          "glossaryGuid": "5a7916fe-3de0-4da8-ade7-2d5cb6e6a34e",
          "relationGuid": "925ce247-9992-463e-b503-d66af640595c"
        },
        "categories": [
          {
            "categoryGuid": "19950dd2-4e89-45b1-be16-a82c45658e78",
            "relationGuid": "4acdf042-3cd9-4912-b87c-4600662c22a9",
            "displayText": "GlossaryCategoryTest"
          }
        ]
      }
    }
  ],
  "Variables": {
    "PURVIEW_ACCOUNT_URL": "https://dotnetllcpurviewaccount.purview.azure.com/",
    "RandomSeed": "1274972452"
  }
}