{
  "Entries": [
    {
      "RequestUri": "https://dotnetllcpurviewaccount.purview.azure.com/catalog/api/atlas/v2/glossary/term",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "TestGlossaryTerm",
        "shortDescription": "Example Short Description",
        "longDescription": "Example Long Description",
        "status": "Approved",
        "anchor": {
          "glossaryGuid": "984848ac-78ec-409c-8f64-8acf4870ebf5"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "guid": "65dff332-c9fb-4e32-8b54-8b602302654a",
        "qualifiedName": "TestGlossaryTerm@GlossaryResource",
        "name": "TestGlossaryTerm",
        "shortDescription": "Example Short Description",
        "longDescription": "Example Long Description",
        "lastModifiedTS": "1",
        "createdBy": "6d0fee93-2b74-46dd-a497-e74f724b6125",
        "updatedBy": "6d0fee93-2b74-46dd-a497-e74f724b6125",
        "createTime": 1635409864703,
        "updateTime": 1635409864703,
        "status": "Approved",
        "anchor": {
          "glossaryGuid": "984848ac-78ec-409c-8f64-8acf4870ebf5",
          "relationGuid": "98e21adf-d095-4d26-ae60-0c3a93b9e26e"
        }
      }
    },
    {
      "RequestUri": "https://dotnetllcpurviewaccount.purview.azure.com/catalog/api/atlas/v2/glossary/term/65dff332-c9fb-4e32-8b54-8b602302654a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "TestGlossaryTerm",
        "shortDescription": "Updated Short Description",
        "status": "Approved",
        "anchor": {
          "glossaryGuid": "984848ac-78ec-409c-8f64-8acf4870ebf5"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "guid": "65dff332-c9fb-4e32-8b54-8b602302654a",
        "qualifiedName": "TestGlossaryTerm@GlossaryResource",
        "name": "TestGlossaryTerm",
        "shortDescription": "Updated Short Description",
        "lastModifiedTS": "2",
        "createdBy": "6d0fee93-2b74-46dd-a497-e74f724b6125",
        "updatedBy": "6d0fee93-2b74-46dd-a497-e74f724b6125",
        "createTime": 1635409864703,
        "updateTime": 1635409866038,
        "status": "Approved",
        "anchor": {
          "glossaryGuid": "984848ac-78ec-409c-8f64-8acf4870ebf5",
          "relationGuid": "783c2493-420a-46cc-97a6-d66c4ea7b471"
        }
      }
    },
    {
      "RequestUri": "https://dotnetllcpurviewaccount.purview.azure.com/catalog/api/atlas/v2/glossary/term/65dff332-c9fb-4e32-8b54-8b602302654a/partial",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "longDescription": "Updated Long Description"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "guid": "65dff332-c9fb-4e32-8b54-8b602302654a",
        "qualifiedName": "TestGlossaryTerm@GlossaryResource",
        "name": "TestGlossaryTerm",
        "shortDescription": "Updated Short Description",
        "longDescription": "Updated Long Description",
        "lastModifiedTS": "3",
        "createdBy": "6d0fee93-2b74-46dd-a497-e74f724b6125",
        "updatedBy": "6d0fee93-2b74-46dd-a497-e74f724b6125",
        "createTime": 1635409864703,
        "updateTime": 1635409867231,
        "status": "Approved",
        "anchor": {
          "glossaryGuid": "984848ac-78ec-409c-8f64-8acf4870ebf5",
          "relationGuid": "783c2493-420a-46cc-97a6-d66c4ea7b471"
        }
      }
    },
[...]
    {
      "RequestUri": "https://dotnetllcpurviewaccount.purview.azure.com/catalog/api/atlas/v2/glossary/term/65dff332-c9fb-4e32-8b54-8b602302654a",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "requestid": "78503f42-07db-4fe6-aa52-55bd8e83cd47"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "PURVIEW_ACCOUNT_URL": "https://dotnetllcpurviewaccount.purview.azure.com/",
    "RandomSeed": "304385189"
  }
}