{
  "Entries": [
    {
      "RequestUri": "https://dotnetllcpurviewaccount.purview.azure.com/catalog/api/atlas/v2/glossary",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "GlossaryTest1025",
        "shortDescription": "Example Short Description",
        "longDescription": "Example Long Description",
        "language": "en",
        "usage": "Example Glossary"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "guid": "5d779a97-e7a6-4bd1-8cfa-19115777f371",
        "qualifiedName": "GlossaryTest1025",
        "name": "GlossaryTest1025",
        "shortDescription": "Example Short Description",
        "longDescription": "Example Long Description",
        "lastModifiedTS": "1",
        "language": "en",
        "usage": "Example Glossary"
      }
    },
    {
      "RequestUri": "https://dotnetllcpurviewaccount.purview.azure.com/catalog/api/atlas/v2/glossary/5d779a97-e7a6-4bd1-8cfa-19115777f371",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "GlossaryTest1025",
        "longDescription": "Updated Long Description"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "guid": "5d779a97-e7a6-4bd1-8cfa-19115777f371",
        "qualifiedName": "GlossaryTest1025",
        "name": "GlossaryTest1025",
        "longDescription": "Updated Long Description",
        "lastModifiedTS": "2"
      }
    },
    {
      "RequestUri": "https://dotnetllcpurviewaccount.purview.azure.com/catalog/api/atlas/v2/glossary/5d779a97-e7a6-4bd1-8cfa-19115777f371/partial",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "shortDescription": "Updated Short Description"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "guid": "5d779a97-e7a6-4bd1-8cfa-19115777f371",
        "qualifiedName": "GlossaryTest1025",
        "name": "GlossaryTest1025",
        "shortDescription": "Updated Short Description",
        "longDescription": "Updated Long Description",
        "lastModifiedTS": "3"
      }
    },
[...]
    {
      "RequestUri": "https://dotnetllcpurviewaccount.purview.azure.com/catalog/api/atlas/v2/glossary/5d779a97-e7a6-4bd1-8cfa-19115777f371/detailed",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "guid": "5d779a97-e7a6-4bd1-8cfa-19115777f371",
        "qualifiedName": "GlossaryTest1025",
        "name": "GlossaryTest1025",
        "shortDescription": "Updated Short Description",
        "longDescription": "Updated Long Description"
      }
    },
    {
      "RequestUri": "https://dotnetllcpurviewaccount.purview.azure.com/catalog/api/atlas/v2/glossary/5d779a97-e7a6-4bd1-8cfa-19115777f371",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "requestid": "ed368d6f-e341-4018-a86f-192e4a026bfd"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "PURVIEW_ACCOUNT_URL": "https://dotnetllcpurviewaccount.purview.azure.com/",
    "RandomSeed": "489401882"
  }
}