{
  "Entries": [
    {
      "RequestUri": "https://dotnetllcpurviewaccount.purview.azure.com/catalog/api/atlas/v2/glossary/category",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "GlossaryCategoryTest",
        "shortDescription": "Example Short Description",
        "anchor": {
          "glossaryGuid": "984848ac-78ec-409c-8f64-8acf4870ebf5"
        },
        "terms": [
          {
            "termGuid": "5d84a98e-65eb-4aa5-92f1-cf9954008bbf"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "guid": "a1fdebc6-961a-4c31-aa63-9f4ef6ee1b68",
        "qualifiedName": "GlossaryCategoryTest@GlossaryResource",
        "name": "GlossaryCategoryTest",
        "shortDescription": "Example Short Description",
        "lastModifiedTS": "1",
        "anchor": {
          "glossaryGuid": "984848ac-78ec-409c-8f64-8acf4870ebf5",
          "relationGuid": "c3fc1f46-f6b6-4831-9d69-f8a3572b5b11"
        },
        "terms": [
          {
            "termGuid": "5d84a98e-65eb-4aa5-92f1-cf9954008bbf",
            "relationGuid": "c999b25a-0358-40f1-b303-0264850a8a4c",
            "displayText": "GlossaryTermResource"
          }
        ]
      }
    },
    {
      "RequestUri": "https://dotnetllcpurviewaccount.purview.azure.com/catalog/api/atlas/v2/glossary/category/a1fdebc6-961a-4c31-aa63-9f4ef6ee1b68",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "GlossaryCategoryTest",
        "shortDescription": "Updated Short Description",
        "anchor": {
          "glossaryGuid": "984848ac-78ec-409c-8f64-8acf4870ebf5"
        },
        "terms": [
          {
            "termGuid": "5d84a98e-65eb-4aa5-92f1-cf9954008bbf"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "guid": "a1fdebc6-961a-4c31-aa63-9f4ef6ee1b68",
        "qualifiedName": "GlossaryCategoryTest@GlossaryResource",
        "name": "GlossaryCategoryTest",
        "shortDescription": "Updated Short Description",
        "lastModifiedTS": "2",
        "anchor": {
          "glossaryGuid": "984848ac-78ec-409c-8f64-8acf4870ebf5",
          "relationGuid": "bf8c8025-b0ba-4eb8-ac65-92ffbbee5f1a"
        },
        "terms": [
          {
            "termGuid": "5d84a98e-65eb-4aa5-92f1-cf9954008bbf",
            "relationGuid": "c999b25a-0358-40f1-b303-0264850a8a4c",
            "displayText": "GlossaryTermResource"
          }
        ]
      }
    },
    {
      "RequestUri": "https://dotnetllcpurviewaccount.purview.azure.com/catalog/api/atlas/v2/glossary/category/a1fdebc6-961a-4c31-aa63-9f4ef6ee1b68/partial",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "longDescription": "Updated Long Description"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "guid": "a1fdebc6-961a-4c31-aa63-9f4ef6ee1b68",
        "qualifiedName": "GlossaryCategoryTest@GlossaryResource",
        "name": "GlossaryCategoryTest",
        "shortDescription": "Updated Short Description",
        "longDescription": "Updated Long Description",
        "lastModifiedTS": "3",
        "anchor": {
          "glossaryGuid": "984848ac-78ec-409c-8f64-8acf4870ebf5",
          "relationGuid": "bf8c8025-b0ba-4eb8-ac65-92ffbbee5f1a"
        },
        "terms": [
          {
            "termGuid": "5d84a98e-65eb-4aa5-92f1-cf9954008bbf",
            "relationGuid": "c999b25a-0358-40f1-b303-0264850a8a4c",
            "displayText": "GlossaryTermResource"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://dotnetllcpurviewaccount.purview.azure.com/catalog/api/atlas/v2/glossary/category/a1fdebc6-961a-4c31-aa63-9f4ef6ee1b68",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "requestid": "de2453df-70b3-4efa-8faf-598555d63342"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "PURVIEW_ACCOUNT_URL": "https://dotnetllcpurviewaccount.purview.azure.com/",
    "RandomSeed": "177119737"
  }
}