{
  "Entries": [
    {
      "RequestUri": "https://dotnetllcpurviewaccount.purview.azure.com/catalog/api/atlas/v2/glossary",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "GlossaryResource",
        "shortDescription": "Example Short Description",
        "longDescription": "Example Long Description",
        "language": "en",
        "usage": "Example Glossary"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "guid": "984848ac-78ec-409c-8f64-8acf4870ebf5",
        "qualifiedName": "GlossaryResource",
        "name": "GlossaryResource",
        "shortDescription": "Example Short Description",
        "longDescription": "Example Long Description",
        "lastModifiedTS": "1",
        "language": "en",
        "usage": "Example Glossary"
      }
    },
    {
      "RequestUri": "https://dotnetllcpurviewaccount.purview.azure.com/catalog/api/atlas/v2/glossary/term",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "TestGlossaryTerm",
        "shortDescription": "Example Short Description",
        "longDescription": "Example Long Description",
        "status": "Approved",
        "anchor": {
          "glossaryGuid": "984848ac-78ec-409c-8f64-8acf4870ebf5"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "guid": "3490ae26-1707-4230-b771-4d3e14e8487f",
        "qualifiedName": "TestGlossaryTerm@GlossaryResource",
        "name": "TestGlossaryTerm",
        "shortDescription": "Example Short Description",
        "longDescription": "Example Long Description",
        "lastModifiedTS": "1",
        "createdBy": "6d0fee93-2b74-46dd-a497-e74f724b6125",
        "updatedBy": "6d0fee93-2b74-46dd-a497-e74f724b6125",
        "createTime": 1635327764898,
        "updateTime": 1635327764898,
        "status": "Approved",
        "anchor": {
          "glossaryGuid": "984848ac-78ec-409c-8f64-8acf4870ebf5",
          "relationGuid": "fb2e0065-0f78-4b49-be80-3614568286af"
        }
      }
    },
    {
      "RequestUri": "https://dotnetllcpurviewaccount.purview.azure.com/catalog/api/atlas/v2/glossary/term/3490ae26-1707-4230-b771-4d3e14e8487f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "TestGlossaryTerm",
        "shortDescription": "Updated Short Description",
        "status": "Approved",
        "anchor": {
          "glossaryGuid": "984848ac-78ec-409c-8f64-8acf4870ebf5"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "guid": "3490ae26-1707-4230-b771-4d3e14e8487f",
        "qualifiedName": "TestGlossaryTerm@GlossaryResource",
        "name": "TestGlossaryTerm",
        "shortDescription": "Updated Short Description",
        "lastModifiedTS": "2",
        "createdBy": "6d0fee93-2b74-46dd-a497-e74f724b6125",
        "updatedBy": "6d0fee93-2b74-46dd-a497-e74f724b6125",
        "createTime": 1635327764898,
        "updateTime": 1635327765421,
        "status": "Approved",
        "anchor": {
          "glossaryGuid": "984848ac-78ec-409c-8f64-8acf4870ebf5",
          "relationGuid": "ee6c8991-9090-4535-a4e8-4afdef9d9044"
        }
      }
    },
    {
      "RequestUri": "https://dotnetllcpurviewaccount.purview.azure.com/catalog/api/atlas/v2/glossary/term/3490ae26-1707-4230-b771-4d3e14e8487f/partial",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "longDescription": "Updated Long Description"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "guid": "3490ae26-1707-4230-b771-4d3e14e8487f",
        "qualifiedName": "TestGlossaryTerm@GlossaryResource",
        "name": "TestGlossaryTerm",
        "shortDescription": "Updated Short Description",
        "longDescription": "Updated Long Description",
        "lastModifiedTS": "3",
        "createdBy": "6d0fee93-2b74-46dd-a497-e74f724b6125",
        "updatedBy": "6d0fee93-2b74-46dd-a497-e74f724b6125",
        "createTime": 1635327764898,
        "updateTime": 1635327766029,
        "status": "Approved",
        "anchor": {
          "glossaryGuid": "984848ac-78ec-409c-8f64-8acf4870ebf5",
          "relationGuid": "ee6c8991-9090-4535-a4e8-4afdef9d9044"
        }
      }
    },
[...]
    {
      "RequestUri": "https://dotnetllcpurviewaccount.purview.azure.com/catalog/api/atlas/v2/glossary/term/3490ae26-1707-4230-b771-4d3e14e8487f",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "requestid": "2949f71d-742c-4b1f-95b0-f89409f75b07"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://dotnetllcpurviewaccount.purview.azure.com/catalog/api/atlas/v2/glossary/984848ac-78ec-409c-8f64-8acf4870ebf5",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "requestid": "7953c996-e827-4070-8464-1a85a77b4115"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "PURVIEW_ACCOUNT_URL": "https://dotnetllcpurviewaccount.purview.azure.com/",
    "RandomSeed": "795662298"
  }
}