{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11859"
      },
      "ResponseBody": {
        "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590",
        "authorizationSource": "RoleBased",
        "managedByTenants": [
          {
            "tenantId": "2f4a9838-26b7-47ee-be60-ccc1fdec5953"
          }
        ],
        "tags": {},
        "subscriptionId": "0b1f6471-1bf0-4dda-aec3-cb9272f09590",
        "tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
        "displayName": "AzureSDKTest",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/testRg-5-3069?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1155"
      },
      "ResponseBody": {
        "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/testRg-5-3069",
        "name": "testRg-5-3069",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/testRg-5-3069/providers/Microsoft.Solutions/applicationDefinitions/appDef-D-229?api-version=2019-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {
          "lockLevel": "None",
          "displayName": "appDef-D-229",
          "description": "appDef-D-229 description",
          "packageFileUri": "https://raw.githubusercontent.com/Azure/azure-managedapp-samples/master/Managed%20Application%20Sample%20Packages/201-managed-storage-account/managedstorage.zip"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1154"
      },
      "ResponseBody": {
        "properties": {
          "lockingPolicy": {
            "allowedActions": [],
            "allowedDataActions": []
          },
          "isEnabled": true,
          "lockLevel": "None",
          "displayName": "appDef-D-229",
          "description": "appDef-D-229 description",
          "artifacts": [
            {
              "name": "ApplicationResourceTemplate",
              "type": "Template",
              "uri": "https://prdsapplianceprodmwh01.blob.core.windows.net/applicationdefinitions/8C96E_0B1F64711BF04DDAAEC3CB9272F09590_126C66E111BAE3A4538B8AE711F29B288D9674F80C9FE2BA88ACD7C0F3FC9213/d6436e6d0643427d9e627f1f5786b7de/applicationResourceTemplate.json"
            },
            {
              "name": "CreateUiDefinition",
              "type": "Custom",
              "uri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/testRg-5-3069/providers/Microsoft.Solutions/applicationDefinitions/appDef-D-229/applicationArtifacts/CreateUiDefinition?api-version=2017-09-01"
            },
            {
              "name": "MainTemplateParameters",
              "type": "Custom",
              "uri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/testRg-5-3069/providers/Microsoft.Solutions/applicationDefinitions/appDef-D-229/applicationArtifacts/MainTemplateParameters?api-version=2017-09-01"
            }
          ]
        },
        "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/testRg-5-3069/providers/Microsoft.Solutions/applicationDefinitions/appDef-D-229",
        "name": "appDef-D-229",
        "type": "Microsoft.Solutions/applicationDefinitions",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/testRg-5-3069/providers/Microsoft.Solutions/applications/application-D-2282?api-version=2019-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kind": "ServiceCatalog",
        "tags": {},
        "location": "westus2",
        "properties": {
          "managedResourceGroupId": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/managed-5-8571",
          "applicationDefinitionId": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/testRg-5-3069/providers/Microsoft.Solutions/applicationDefinitions/appDef-D-229",
          "parameters": {
            "storageAccountNamePrefix": {
              "value": "s52253"
            },
            "storageAccountType": {
              "value": "Standard_LRS"
            }
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/testRg-5-3069/providers/Microsoft.Solutions/locations/westus2/operationStatuses/eyJmdWxseVF1YWxpZmllZEFwcGxpYW5jZUlkIjoiL3N1YnNjcmlwdGlvbnMvMGIxZjY0NzEtMWJmMC00ZGRhLWFlYzMtY2I5MjcyZjA5NTkwL3Jlc291cmNlR3JvdXBzL3Rlc3RSZy01LTMwNjkvcHJvdmlkZXJzL01pY3Jvc29mdC5Tb2x1dGlvbnMvYXBwbGljYXRpb25zL2FwcGxpY2F0aW9uLUQtMjI4MiIsImpvYklkIjoiQXBwbGlhbmNlUHJvdmlzaW9uaW5nSm9iOjJEUkdBOjJEVEVTVFJHOjNBMkQ1OjNBMkQzMDY5OjJEQVBQTElDQVRJT046M0EyREQ6M0EyRDIyODIifQ?api-version=2019-07-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/testRg-5-3069/providers/Microsoft.Solutions/locations/westus2/operationStatuses/eyJmdWxseVF1YWxpZmllZEFwcGxpYW5jZUlkIjoiL3N1YnNjcmlwdGlvbnMvMGIxZjY0NzEtMWJmMC00ZGRhLWFlYzMtY2I5MjcyZjA5NTkwL3Jlc291cmNlR3JvdXBzL3Rlc3RSZy01LTMwNjkvcHJvdmlkZXJzL01pY3Jvc29mdC5Tb2x1dGlvbnMvYXBwbGljYXRpb25zL2FwcGxpY2F0aW9uLUQtMjI4MiIsImpvYklkIjoiQXBwbGlhbmNlUHJvdmlzaW9uaW5nSm9iOjJEUkdBOjJEVEVTVFJHOjNBMkQ1OjNBMkQzMDY5OjJEQVBQTElDQVRJT046M0EyREQ6M0EyRDIyODIifQ?api-version=2019-07-01",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-writes": "1153"
      },
      "ResponseBody": {
        "properties": {
          "managedResourceGroupId": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/managed-5-8571",
          "applicationDefinitionId": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/testRg-5-3069/providers/Microsoft.Solutions/applicationDefinitions/appDef-D-229",
          "provisioningState": "Accepted",
          "managementMode": "Managed",
          "createdBy": {
            "oid": "cf1193d8-c35c-4784-b90f-27e69de4108a",
            "applicationId": "47285eb7-8358-4f28-99e1-68cf6d00e0e4"
          },
          "updatedBy": {
            "oid": "cf1193d8-c35c-4784-b90f-27e69de4108a",
            "applicationId": "47285eb7-8358-4f28-99e1-68cf6d00e0e4"
          }
        },
        "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/testRg-5-3069/providers/Microsoft.Solutions/applications/application-D-2282",
        "name": "application-D-2282",
        "type": "Microsoft.Solutions/applications",
        "kind": "ServiceCatalog",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/testRg-5-3069/providers/Microsoft.Solutions/locations/westus2/operationStatuses/eyJmdWxseVF1YWxpZmllZEFwcGxpYW5jZUlkIjoiL3N1YnNjcmlwdGlvbnMvMGIxZjY0NzEtMWJmMC00ZGRhLWFlYzMtY2I5MjcyZjA5NTkwL3Jlc291cmNlR3JvdXBzL3Rlc3RSZy01LTMwNjkvcHJvdmlkZXJzL01pY3Jvc29mdC5Tb2x1dGlvbnMvYXBwbGljYXRpb25zL2FwcGxpY2F0aW9uLUQtMjI4MiIsImpvYklkIjoiQXBwbGlhbmNlUHJvdmlzaW9uaW5nSm9iOjJEUkdBOjJEVEVTVFJHOjNBMkQ1OjNBMkQzMDY5OjJEQVBQTElDQVRJT046M0EyREQ6M0EyRDIyODIifQ?api-version=2019-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11858"
      },
      "ResponseBody": {
        "status": "Accepted"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/testRg-5-3069/providers/Microsoft.Solutions/applications/application-D-2282?api-version=2019-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11848"
      },
      "ResponseBody": {
        "properties": {
          "managedResourceGroupId": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/managed-5-8571",
          "applicationDefinitionId": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/testRg-5-3069/providers/Microsoft.Solutions/applicationDefinitions/appDef-D-229",
          "parameters": {
            "storageAccountNamePrefix": {
              "type": "String",
              "value": "s52253"
            },
            "storageAccountType": {
              "type": "String",
              "value": "Standard_LRS"
            },
            "location": {
              "type": "String",
              "value": "westus2"
            }
          },
          "outputs": {
            "storageEndpoint": {
              "type": "String",
              "value": "https://s52253zu4ll3n7x3ok6.blob.core.windows.net/"
            }
          },
          "provisioningState": "Succeeded",
          "managementMode": "Managed",
          "createdBy": {
            "oid": "cf1193d8-c35c-4784-b90f-27e69de4108a",
            "applicationId": "47285eb7-8358-4f28-99e1-68cf6d00e0e4"
          },
          "updatedBy": {
            "oid": "cf1193d8-c35c-4784-b90f-27e69de4108a",
            "applicationId": "47285eb7-8358-4f28-99e1-68cf6d00e0e4"
          }
        },
        "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/testRg-5-3069/providers/microsoft.solutions/applications/application-D-2282",
        "name": "application-D-2282",
        "type": "microsoft.solutions/applications",
        "kind": "ServiceCatalog",
        "location": "westus2",
        "tags": {}
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/testRg-5-3069/providers/microsoft.solutions/locations/westus2/operationStatuses/eyJmdWxseVF1YWxpZmllZEFwcGxpYW5jZUlkIjoiL3N1YnNjcmlwdGlvbnMvMGIxZjY0NzEtMWJmMC00ZGRhLWFlYzMtY2I5MjcyZjA5NTkwL3Jlc291cmNlR3JvdXBzL3Rlc3RSZy01LTMwNjkvcHJvdmlkZXJzL21pY3Jvc29mdC5zb2x1dGlvbnMvYXBwbGljYXRpb25zL2FwcGxpY2F0aW9uLUQtMjI4MiIsImpvYklkIjoiQXBwbGlhbmNlRGVwcm92aXNpb25pbmdKb2I6MkRSR0E6MkRURVNUUkc6M0EyRDU6M0EyRDMwNjk6MkRBUFBMSUNBVElPTjozQTJERDozQTJEMjI4MiJ9?api-version=2019-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11847"
      },
      "ResponseBody": {
        "status": "Accepted"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/testRg-5-3069/providers/Microsoft.Solutions/applications/application-D-2282?api-version=2019-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-failure-cause": "gateway"
      },
      "ResponseBody": {
        "error": {
          "code": "ResourceNotFound",
          "message": "The Resource \u0027Microsoft.Solutions/applications/application-D-2282\u0027 under resource group \u0027testRg-5-3069\u0027 was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "937006853",
    "RESOURCE_MANAGER_URL": "https://management.azure.com/",
    "SUBSCRIPTION_ID": "0b1f6471-1bf0-4dda-aec3-cb9272f09590"
  }
}
