{
  "Entries": [
    {
      "RequestUri": "https://dotnetllcpurviewaccount.purview.azure.com/catalog/api/browse?api-version=2021-05-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "entityType": "aws_s3_v2_bucket"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "@search.count": 1,
        "value": [
          {
            "id": "920cd64d-debc-4e10-88ef-8c34797a65fc",
            "name": "test-datasource1019v2",
            "qualifiedName": "s3://testpurview",
            "entityType": "aws_s3_v2_bucket",
            "path": "/aws_s3_v2_bucket#testpurview",
            "isLeaf": false
          }
        ]
      }
    }
  ],
  "Variables": {
    "PURVIEW_ACCOUNT_URL": "https://dotnetllcpurviewaccount.purview.azure.com/",
    "RandomSeed": "1800557961"
  }
}