{
  "Entries": [
    {
      "RequestUri": "https://dotnetllcpurviewaccount.purview.azure.com/catalog/api/atlas/v2/glossary/category/b9014169-51b1-40b9-8501-fe53aba0cf6d/terms",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": "[{\u0022termGuid\u0022:\u0022008bd6d8-4dd7-4d35-89ca-20bd1384233b\u0022,\u0022relationGuid\u0022:\u002236064253-96de-48b9-abde-311358961bfa\u0022,\u0022displayText\u0022:\u0022TestGlossaryTerm\u0022}]"
    }
  ],
  "Variables": {
    "PURVIEW_ACCOUNT_URL": "https://dotnetllcpurviewaccount.purview.azure.com/",
    "RandomSeed": "901898054"
  }
}