{
  "Entries": [
    {
      "RequestUri": "https://dotnetllcpurviewaccount.purview.azure.com/catalog/api/atlas/v2/glossary/terms/53a479f5-81bb-4305-9fe0-93af59a72a0b/assignedEntities",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": "[{\u0022guid\u0022:\u002226fff2b7-bb60-4443-ad26-47d466de2f45\u0022,\u0022typeName\u0022:\u0022aws_s3_v2_object\u0022,\u0022entityStatus\u0022:\u0022ACTIVE\u0022,\u0022displayText\u0022:\u0022taxi-tip-data.csv\u0022,\u0022relationshipType\u0022:\u0022AtlasGlossarySemanticAssignment\u0022,\u0022relationshipGuid\u0022:\u0022043c9197-e90c-4e4e-bb67-bf24f8538caa\u0022,\u0022relationshipStatus\u0022:\u0022ACTIVE\u0022,\u0022relationshipAttributes\u0022:{\u0022typeName\u0022:\u0022AtlasGlossarySemanticAssignment\u0022,\u0022attributes\u0022:{\u0022expression\u0022:null,\u0022createdBy\u0022:null,\u0022steward\u0022:null,\u0022confidence\u0022:null,\u0022description\u0022:null,\u0022source\u0022:null,\u0022status\u0022:null}}}]"
    }
  ],
  "Variables": {
    "PURVIEW_ACCOUNT_URL": "https://dotnetllcpurviewaccount.purview.azure.com/",
    "RandomSeed": "921855568"
  }
}