{
  "Entries": [
    {
      "RequestUri": "https://dotnetllcpurviewaccount.purview.azure.com/catalog/api/atlas/v2/glossary/c9843adb-8d1f-439d-a834-3a44943aa664/categories",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": "[{\u0022guid\u0022:\u0022b9014169-51b1-40b9-8501-fe53aba0cf6d\u0022,\u0022qualifiedName\u0022:\u0022GlossaryCategoryTest@GlossaryTest1025\u0022,\u0022name\u0022:\u0022GlossaryCategoryTest\u0022,\u0022shortDescription\u0022:\u0022Example Short Description\u0022,\u0022lastModifiedTS\u0022:\u00221\u0022,\u0022anchor\u0022:{\u0022glossaryGuid\u0022:\u0022c9843adb-8d1f-439d-a834-3a44943aa664\u0022,\u0022relationGuid\u0022:\u0022e9ba4b63-e225-4687-822b-1fbe03f78a08\u0022},\u0022terms\u0022:[{\u0022termGuid\u0022:\u0022008bd6d8-4dd7-4d35-89ca-20bd1384233b\u0022,\u0022relationGuid\u0022:\u002236064253-96de-48b9-abde-311358961bfa\u0022,\u0022displayText\u0022:\u0022TestGlossaryTerm\u0022}]}]"
    }
  ],
  "Variables": {
    "PURVIEW_ACCOUNT_URL": "https://dotnetllcpurviewaccount.purview.azure.com/",
    "RandomSeed": "788609697"
  }
}