{
  "Entries": [
    {
      "RequestUri": "https://dotnetllcpurviewaccount.purview.azure.com/catalog/api/atlas/v2/glossary",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": "[{\u0022guid\u0022:\u00225a7916fe-3de0-4da8-ade7-2d5cb6e6a34e\u0022,\u0022qualifiedName\u0022:\u0022Glossary\u0022,\u0022name\u0022:\u0022Glossary\u0022,\u0022lastModifiedTS\u0022:\u00221\u0022,\u0022terms\u0022:[{\u0022termGuid\u0022:\u002226229cd6-0779-4d65-abee-f37a0d610a20\u0022,\u0022relationGuid\u0022:\u0022925ce247-9992-463e-b503-d66af640595c\u0022,\u0022displayText\u0022:\u0022Test\u0022},{\u0022termGuid\u0022:\u00225966f044-1c56-48b9-bce3-151565626c72\u0022,\u0022relationGuid\u0022:\u0022473a9b67-9e8b-44cf-bcdc-22a65ea0cc31\u0022,\u0022displayText\u0022:\u0022Test_test-child\u0022}],\u0022categories\u0022:[{\u0022categoryGuid\u0022:\u002219950dd2-4e89-45b1-be16-a82c45658e78\u0022,\u0022relationGuid\u0022:\u002275e48ca2-30db-4107-913c-834c550778dd\u0022,\u0022displayText\u0022:\u0022GlossaryCategoryTest\u0022}]}]"
    }
  ],
  "Variables": {
    "PURVIEW_ACCOUNT_URL": "https://dotnetllcpurviewaccount.purview.azure.com/",
    "RandomSeed": "1406378780"
  }
}