{
  "Entries": [
    {
      "RequestUri": "https://dotnetllcpurviewaccount.purview.azure.com/catalog/api/atlas/v2/glossary",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": "[{\u0022guid\u0022:\u0022ba730fdb-0283-491a-8ec6-ec4fe4b0da6a\u0022,\u0022qualifiedName\u0022:\u0022Glossary\u0022,\u0022name\u0022:\u0022Glossary\u0022,\u0022lastModifiedTS\u0022:\u00221\u0022,\u0022terms\u0022:[{\u0022termGuid\u0022:\u0022dc1e6399-022c-4559-866e-1638cb84ab91\u0022,\u0022relationGuid\u0022:\u002228104839-b205-4099-8f77-be42fb3bda04\u0022,\u0022displayText\u0022:\u0022test\u0022}]},{\u0022guid\u0022:\u0022697d34ee-38fc-4b09-b777-273a1c366cdd\u0022,\u0022qualifiedName\u0022:\u0022GlossaryTest1025\u0022,\u0022name\u0022:\u0022GlossaryTest1025\u0022,\u0022shortDescription\u0022:\u0022Example Short Description\u0022,\u0022longDescription\u0022:\u0022Example Long Description\u0022,\u0022lastModifiedTS\u0022:\u00221\u0022,\u0022language\u0022:\u0022en\u0022,\u0022usage\u0022:\u0022Example Glossary\u0022,\u0022terms\u0022:[{\u0022termGuid\u0022:\u0022ac27c58e-841a-407c-ab05-3a6caf618547\u0022,\u0022relationGuid\u0022:\u0022bdcf9910-919e-4ef5-99fd-a35d12e5b282\u0022,\u0022displayText\u0022:\u0022TestGlossaryTerm\u0022}],\u0022categories\u0022:[{\u0022categoryGuid\u0022:\u0022cece2ead-253d-4648-be41-e3a4158f9f37\u0022,\u0022relationGuid\u0022:\u0022ddaf81d8-87b0-48d7-aeb1-d01d12f46ff8\u0022,\u0022displayText\u0022:\u0022GlossaryCategoryTest\u0022}]}]"
    }
  ],
  "Variables": {
    "PURVIEW_ACCOUNT_URL": "https://dotnetllcpurviewaccount.purview.azure.com/",
    "RandomSeed": "443508905"
  }
}