{
  "Entries": [
    {
      "RequestUri": "https://dotnetllcpurviewaccount.purview.azure.com/catalog/api/atlas/v2/glossary/c9843adb-8d1f-439d-a834-3a44943aa664/categories/headers",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": "[{\u0022categoryGuid\u0022:\u0022b9014169-51b1-40b9-8501-fe53aba0cf6d\u0022,\u0022relationGuid\u0022:\u0022e9ba4b63-e225-4687-822b-1fbe03f78a08\u0022,\u0022displayText\u0022:\u0022GlossaryCategoryTest\u0022}]"
    }
  ],
  "Variables": {
    "PURVIEW_ACCOUNT_URL": "https://dotnetllcpurviewaccount.purview.azure.com/",
    "RandomSeed": "1626389464"
  }
}