{
  "Entries": [
    {
      "RequestUri": "https://dotnetllcpurviewaccount.purview.azure.com/catalog/api/atlas/v2/glossary/term/1736c1f2-c072-4fee-99a1-eb47d156bb12",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "guid": "1736c1f2-c072-4fee-99a1-eb47d156bb12",
        "qualifiedName": "test_test2@Glossary",
        "name": "test_test2",
        "lastModifiedTS": "2",
        "createdBy": "9f78dd23-f3c4-450f-84af-d9bd0a224f0b",
        "updatedBy": "9f78dd23-f3c4-450f-84af-d9bd0a224f0b",
        "createTime": 1636600220984,
        "updateTime": 1636600370072,
        "status": "Approved",
        "anchor": {
          "glossaryGuid": "ba730fdb-0283-491a-8ec6-ec4fe4b0da6a",
          "relationGuid": "1b7ecede-3541-43cf-88a9-818a842f6b69"
        },
        "seeAlso": [
          {
            "termGuid": "dc1e6399-022c-4559-866e-1638cb84ab91",
            "relationGuid": "db7e15d0-791f-4949-a332-ab56a4f21e4f",
            "displayText": "test"
          }
        ],
        "synonyms": [
          {
            "termGuid": "dc1e6399-022c-4559-866e-1638cb84ab91",
            "relationGuid": "6c6d7e95-a821-4809-bf33-3f0a0de7162c",
            "displayText": "test"
          }
        ]
      }
    }
  ],
  "Variables": {
    "PURVIEW_ACCOUNT_URL": "https://dotnetllcpurviewaccount.purview.azure.com/",
    "RandomSeed": "90698013"
  }
}