{
  "Entries": [
    {
      "RequestUri": "https://dotnetllcpurviewaccount.purview.azure.com/catalog/api/atlas/v2/glossary/ba730fdb-0283-491a-8ec6-ec4fe4b0da6a/terms/headers",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": "[{\u0022termGuid\u0022:\u0022dc1e6399-022c-4559-866e-1638cb84ab91\u0022,\u0022relationGuid\u0022:\u002228104839-b205-4099-8f77-be42fb3bda04\u0022,\u0022displayText\u0022:\u0022test\u0022},{\u0022termGuid\u0022:\u00221736c1f2-c072-4fee-99a1-eb47d156bb12\u0022,\u0022relationGuid\u0022:\u00221b7ecede-3541-43cf-88a9-818a842f6b69\u0022,\u0022displayText\u0022:\u0022test_test2\u0022}]"
    }
  ],
  "Variables": {
    "PURVIEW_ACCOUNT_URL": "https://dotnetllcpurviewaccount.purview.azure.com/",
    "RandomSeed": "1031673538"
  }
}