{
  "Entries": [
    {
      "RequestUri": "https://dotnetllcpurviewaccount.purview.azure.com/catalog/api/glossary/name/Glossary/terms?api-version=2021-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": "[{\u0022createTime\u0022:1636599955699,\u0022qualifiedName\u0022:\u0022test@Glossary\u0022,\u0022name\u0022:\u0022test\u0022,\u0022updateTime\u0022:1636600231207,\u0022guid\u0022:\u0022dc1e6399-022c-4559-866e-1638cb84ab91\u0022,\u0022status\u0022:\u0022Approved\u0022,\u0022templateName\u0022:[],\u0022shortDescription\u0022:null,\u0022longDescription\u0022:null},{\u0022createTime\u0022:1636600220984,\u0022qualifiedName\u0022:\u0022test_test2@Glossary\u0022,\u0022name\u0022:\u0022test_test2\u0022,\u0022updateTime\u0022:1636600370072,\u0022guid\u0022:\u00221736c1f2-c072-4fee-99a1-eb47d156bb12\u0022,\u0022status\u0022:\u0022Approved\u0022,\u0022templateName\u0022:[],\u0022shortDescription\u0022:null,\u0022longDescription\u0022:null}]"
    }
  ],
  "Variables": {
    "PURVIEW_ACCOUNT_URL": "https://dotnetllcpurviewaccount.purview.azure.com/",
    "RandomSeed": "1027758088"
  }
}