{
  "Entries": [
    {
      "RequestUri": "https://dotnetllcpurviewaccount.purview.azure.com/catalog/api/atlas/v2/glossary/terms/1736c1f2-c072-4fee-99a1-eb47d156bb12/related",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "synonyms": [
          {
            "termGuid": "dc1e6399-022c-4559-866e-1638cb84ab91",
            "relationGuid": "6c6d7e95-a821-4809-bf33-3f0a0de7162c",
            "displayText": "test"
          }
        ],
        "seeAlso": [
          {
            "termGuid": "dc1e6399-022c-4559-866e-1638cb84ab91",
            "relationGuid": "db7e15d0-791f-4949-a332-ab56a4f21e4f",
            "displayText": "test"
          }
        ]
      }
    }
  ],
  "Variables": {
    "PURVIEW_ACCOUNT_URL": "https://dotnetllcpurviewaccount.purview.azure.com/",
    "RandomSeed": "491763735"
  }
}