{
  "Entries": [
    {
      "RequestUri": "https://dotnetllcpurviewaccount.purview.azure.com/catalog/api/atlas/v2/glossary",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "GlossaryTest1025",
        "shortDescription": "Example Short Description",
        "longDescription": "Example Long Description",
        "language": "en",
        "usage": "Example Glossary"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "guid": "f86e2d16-10bc-45f8-9142-b0ab2bf0230f",
        "qualifiedName": "GlossaryTest1025",
        "name": "GlossaryTest1025",
        "shortDescription": "Example Short Description",
        "longDescription": "Example Long Description",
        "lastModifiedTS": "1",
        "language": "en",
        "usage": "Example Glossary"
      }
    },
    {
      "RequestUri": "https://dotnetllcpurviewaccount.purview.azure.com/catalog/api/atlas/v2/glossary/f86e2d16-10bc-45f8-9142-b0ab2bf0230f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "GlossaryTest1025",
        "longDescription": "Updated Long Description"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "guid": "f86e2d16-10bc-45f8-9142-b0ab2bf0230f",
        "qualifiedName": "GlossaryTest1025",
        "name": "GlossaryTest1025",
        "longDescription": "Updated Long Description",
        "lastModifiedTS": "2"
      }
    },
    {
      "RequestUri": "https://dotnetllcpurviewaccount.purview.azure.com/catalog/api/atlas/v2/glossary/f86e2d16-10bc-45f8-9142-b0ab2bf0230f/partial",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "shortDescription": "Updated Short Description"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "guid": "f86e2d16-10bc-45f8-9142-b0ab2bf0230f",
        "qualifiedName": "GlossaryTest1025",
        "name": "GlossaryTest1025",
        "shortDescription": "Updated Short Description",
        "longDescription": "Updated Long Description",
        "lastModifiedTS": "3"
      }
    },
[...]
    {
      "RequestUri": "https://dotnetllcpurviewaccount.purview.azure.com/catalog/api/atlas/v2/glossary/f86e2d16-10bc-45f8-9142-b0ab2bf0230f/detailed?includeTermHierarchy=false",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "guid": "f86e2d16-10bc-45f8-9142-b0ab2bf0230f",
        "qualifiedName": "GlossaryTest1025",
        "name": "GlossaryTest1025",
        "shortDescription": "Updated Short Description",
        "longDescription": "Updated Long Description"
      }
    },
    {
      "RequestUri": "https://dotnetllcpurviewaccount.purview.azure.com/catalog/api/atlas/v2/glossary/f86e2d16-10bc-45f8-9142-b0ab2bf0230f",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "requestid": "7dd22864-1c4e-4d66-8545-6ebbab66a49a"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "PURVIEW_ACCOUNT_URL": "https://dotnetllcpurviewaccount.purview.azure.com/",
    "RandomSeed": "489401882"
  }
}