{
  "Entries": [
    {
      "RequestUri": "https://dotnetllcpurviewaccount.purview.azure.com/catalog/api/atlas/v2/glossary/term",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "TestGlossaryTerm",
        "shortDescription": "Example Short Description",
        "longDescription": "Example Long Description",
        "status": "Approved",
        "anchor": {
          "glossaryGuid": "c9843adb-8d1f-439d-a834-3a44943aa664"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "guid": "a01d9e84-0e5b-4f5b-8714-b2f2caa6e96b",
        "qualifiedName": "TestGlossaryTerm@GlossaryTest1025",
        "name": "TestGlossaryTerm",
        "shortDescription": "Example Short Description",
        "longDescription": "Example Long Description",
        "lastModifiedTS": "1",
        "createdBy": "6d0fee93-2b74-46dd-a497-e74f724b6125",
        "updatedBy": "6d0fee93-2b74-46dd-a497-e74f724b6125",
        "createTime": 1636616155412,
        "updateTime": 1636616155412,
        "status": "Approved",
        "anchor": {
          "glossaryGuid": "c9843adb-8d1f-439d-a834-3a44943aa664",
          "relationGuid": "d3ae251c-6db5-47d1-9ae9-c468f383fe7f"
        }
      }
    },
    {
      "RequestUri": "https://dotnetllcpurviewaccount.purview.azure.com/catalog/api/atlas/v2/glossary/term/a01d9e84-0e5b-4f5b-8714-b2f2caa6e96b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "TestGlossaryTerm",
        "shortDescription": "Updated Short Description",
        "status": "Approved",
        "anchor": {
          "glossaryGuid": "c9843adb-8d1f-439d-a834-3a44943aa664"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "guid": "a01d9e84-0e5b-4f5b-8714-b2f2caa6e96b",
        "qualifiedName": "TestGlossaryTerm@GlossaryTest1025",
        "name": "TestGlossaryTerm",
        "shortDescription": "Updated Short Description",
        "lastModifiedTS": "2",
        "createdBy": "6d0fee93-2b74-46dd-a497-e74f724b6125",
        "updatedBy": "6d0fee93-2b74-46dd-a497-e74f724b6125",
        "createTime": 1636616155412,
        "updateTime": 1636616155706,
        "status": "Approved",
        "anchor": {
          "glossaryGuid": "c9843adb-8d1f-439d-a834-3a44943aa664",
          "relationGuid": "e9c19335-9f30-409e-9979-3c1c745d34c9"
        }
      }
    },
    {
      "RequestUri": "https://dotnetllcpurviewaccount.purview.azure.com/catalog/api/atlas/v2/glossary/term/a01d9e84-0e5b-4f5b-8714-b2f2caa6e96b/partial",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "longDescription": "Updated Long Description"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "guid": "a01d9e84-0e5b-4f5b-8714-b2f2caa6e96b",
        "qualifiedName": "TestGlossaryTerm@GlossaryTest1025",
        "name": "TestGlossaryTerm",
        "shortDescription": "Updated Short Description",
        "longDescription": "Updated Long Description",
        "lastModifiedTS": "3",
        "createdBy": "6d0fee93-2b74-46dd-a497-e74f724b6125",
        "updatedBy": "6d0fee93-2b74-46dd-a497-e74f724b6125",
        "createTime": 1636616155412,
        "updateTime": 1636616156045,
        "status": "Approved",
        "anchor": {
          "glossaryGuid": "c9843adb-8d1f-439d-a834-3a44943aa664",
          "relationGuid": "e9c19335-9f30-409e-9979-3c1c745d34c9"
        }
      }
    },
    {
      "RequestUri": "https://dotnetllcpurviewaccount.purview.azure.com/catalog/api/atlas/v2/glossary/term/a01d9e84-0e5b-4f5b-8714-b2f2caa6e96b?includeTermHierarchy=false",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "guid": "a01d9e84-0e5b-4f5b-8714-b2f2caa6e96b",
        "qualifiedName": "TestGlossaryTerm@GlossaryTest1025",
        "name": "TestGlossaryTerm",
        "shortDescription": "Updated Short Description",
        "longDescription": "Updated Long Description",
        "lastModifiedTS": "3",
        "createdBy": "6d0fee93-2b74-46dd-a497-e74f724b6125",
        "updatedBy": "6d0fee93-2b74-46dd-a497-e74f724b6125",
        "createTime": 1636616155412,
        "updateTime": 1636616156045,
        "status": "Approved",
        "anchor": {
          "glossaryGuid": "c9843adb-8d1f-439d-a834-3a44943aa664",
          "relationGuid": "e9c19335-9f30-409e-9979-3c1c745d34c9"
        }
      }
    },
    {
      "RequestUri": "https://dotnetllcpurviewaccount.purview.azure.com/catalog/api/atlas/v2/glossary/term/a01d9e84-0e5b-4f5b-8714-b2f2caa6e96b",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "requestid": "97df66e9-7c87-4eaa-84a9-deec462bd96e"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "PURVIEW_ACCOUNT_URL": "https://dotnetllcpurviewaccount.purview.azure.com/",
    "RandomSeed": "795662298"
  }
}