{
  "Entries": [
    {
      "RequestUri": "https://dotnetllcpurviewaccount.purview.azure.com/catalog/api/atlas/v2/glossary",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "GlossaryTest1025",
        "shortDescription": "Example Short Description",
        "longDescription": "Example Long Description",
        "language": "en",
        "usage": "Example Glossary"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "guid": "794aaeb0-e11d-4a74-89ec-14acaf23a993",
        "qualifiedName": "GlossaryTest1025",
        "name": "GlossaryTest1025",
        "shortDescription": "Example Short Description",
        "longDescription": "Example Long Description",
        "lastModifiedTS": "1",
        "language": "en",
        "usage": "Example Glossary"
      }
    },
    {
      "RequestUri": "https://dotnetllcpurviewaccount.purview.azure.com/catalog/api/atlas/v2/glossary/794aaeb0-e11d-4a74-89ec-14acaf23a993",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "GlossaryTest1025",
        "longDescription": "Updated Long Description"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "guid": "794aaeb0-e11d-4a74-89ec-14acaf23a993",
        "qualifiedName": "GlossaryTest1025",
        "name": "GlossaryTest1025",
        "longDescription": "Updated Long Description",
        "lastModifiedTS": "2"
      }
    },
    {
      "RequestUri": "https://dotnetllcpurviewaccount.purview.azure.com/catalog/api/atlas/v2/glossary/794aaeb0-e11d-4a74-89ec-14acaf23a993/partial",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "shortDescription": "Updated Short Description"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "guid": "794aaeb0-e11d-4a74-89ec-14acaf23a993",
        "qualifiedName": "GlossaryTest1025",
        "name": "GlossaryTest1025",
        "shortDescription": "Updated Short Description",
        "longDescription": "Updated Long Description",
        "lastModifiedTS": "3"
      }
    },
[...]
    {
      "RequestUri": "https://dotnetllcpurviewaccount.purview.azure.com/catalog/api/atlas/v2/glossary/794aaeb0-e11d-4a74-89ec-14acaf23a993/detailed?includeTermHierarchy=false",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "guid": "794aaeb0-e11d-4a74-89ec-14acaf23a993",
        "qualifiedName": "GlossaryTest1025",
        "name": "GlossaryTest1025",
        "shortDescription": "Updated Short Description",
        "longDescription": "Updated Long Description"
      }
    },
    {
      "RequestUri": "https://dotnetllcpurviewaccount.purview.azure.com/catalog/api/atlas/v2/glossary/794aaeb0-e11d-4a74-89ec-14acaf23a993",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "requestid": "e7bcc9d2-2736-4f46-bc67-702c11d6b91f"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "PURVIEW_ACCOUNT_URL": "https://dotnetllcpurviewaccount.purview.azure.com/",
    "RandomSeed": "521830970"
  }
}