{
  "Entries": [
    {
      "RequestUri": "https://dotnetllcpurviewaccount.purview.azure.com/catalog/api/atlas/v2/glossary",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "GlossaryResource",
        "shortDescription": "Example Short Description",
        "longDescription": "Example Long Description",
        "language": "en",
        "usage": "Example Glossary"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "guid": "984848ac-78ec-409c-8f64-8acf4870ebf5",
        "qualifiedName": "GlossaryResource",
        "name": "GlossaryResource",
        "shortDescription": "Example Short Description",
        "longDescription": "Example Long Description",
        "lastModifiedTS": "1",
        "language": "en",
        "usage": "Example Glossary"
      }
    },
    {
      "RequestUri": "https://dotnetllcpurviewaccount.purview.azure.com/catalog/api/atlas/v2/glossary/term",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "GlossaryTermResource",
        "shortDescription": "Example Short Description",
        "longDescription": "Example Long Description",
        "status": "Approved",
        "anchor": {
          "glossaryGuid": "984848ac-78ec-409c-8f64-8acf4870ebf5"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "guid": "5d84a98e-65eb-4aa5-92f1-cf9954008bbf",
        "qualifiedName": "GlossaryTermResource@GlossaryResource",
        "name": "GlossaryTermResource",
        "shortDescription": "Example Short Description",
        "longDescription": "Example Long Description",
        "lastModifiedTS": "1",
        "createdBy": "6d0fee93-2b74-46dd-a497-e74f724b6125",
        "updatedBy": "6d0fee93-2b74-46dd-a497-e74f724b6125",
        "createTime": 1635327753732,
        "updateTime": 1635327753732,
        "status": "Approved",
        "anchor": {
          "glossaryGuid": "984848ac-78ec-409c-8f64-8acf4870ebf5",
          "relationGuid": "53e5eb06-5ccf-4eab-ae82-b4a55ff725ec"
        }
      }
    },
    {
      "RequestUri": "https://dotnetllcpurviewaccount.purview.azure.com/catalog/api/atlas/v2/glossary/category",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "GlossaryCategoryTest",
        "shortDescription": "Example Short Description",
        "anchor": {
          "glossaryGuid": "984848ac-78ec-409c-8f64-8acf4870ebf5"
        },
        "terms": [
          {
            "termGuid": "5d84a98e-65eb-4aa5-92f1-cf9954008bbf"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "guid": "c7435ca2-56cc-4570-83c8-67b64d9d5fe1",
        "qualifiedName": "GlossaryCategoryTest@GlossaryResource",
        "name": "GlossaryCategoryTest",
        "shortDescription": "Example Short Description",
        "lastModifiedTS": "1",
        "anchor": {
          "glossaryGuid": "984848ac-78ec-409c-8f64-8acf4870ebf5",
          "relationGuid": "8f702d2e-bd48-439e-84c3-bf8225e598e8"
        },
        "terms": [
          {
            "termGuid": "5d84a98e-65eb-4aa5-92f1-cf9954008bbf",
            "relationGuid": "9efd396b-9970-4206-9880-bee75f711900",
            "displayText": "GlossaryTermResource"
          }
        ]
      }
    },
    {
      "RequestUri": "https://dotnetllcpurviewaccount.purview.azure.com/catalog/api/atlas/v2/glossary/category/c7435ca2-56cc-4570-83c8-67b64d9d5fe1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "GlossaryCategoryTest",
        "shortDescription": "Updated Short Description",
        "anchor": {
          "glossaryGuid": "984848ac-78ec-409c-8f64-8acf4870ebf5"
        },
        "terms": [
          {
            "termGuid": "5d84a98e-65eb-4aa5-92f1-cf9954008bbf"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "guid": "c7435ca2-56cc-4570-83c8-67b64d9d5fe1",
        "qualifiedName": "GlossaryCategoryTest@GlossaryResource",
        "name": "GlossaryCategoryTest",
        "shortDescription": "Updated Short Description",
        "lastModifiedTS": "2",
        "anchor": {
          "glossaryGuid": "984848ac-78ec-409c-8f64-8acf4870ebf5",
          "relationGuid": "c8d65569-0498-4b3b-95ef-bfb6171f8e8c"
        },
        "terms": [
          {
            "termGuid": "5d84a98e-65eb-4aa5-92f1-cf9954008bbf",
            "relationGuid": "9efd396b-9970-4206-9880-bee75f711900",
            "displayText": "GlossaryTermResource"
          }
        ]
      }
    },
    {
      "RequestUri": "https://dotnetllcpurviewaccount.purview.azure.com/catalog/api/atlas/v2/glossary/category/c7435ca2-56cc-4570-83c8-67b64d9d5fe1/partial",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "longDescription": "Updated Long Description"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "guid": "c7435ca2-56cc-4570-83c8-67b64d9d5fe1",
        "qualifiedName": "GlossaryCategoryTest@GlossaryResource",
        "name": "GlossaryCategoryTest",
        "shortDescription": "Updated Short Description",
        "longDescription": "Updated Long Description",
        "lastModifiedTS": "3",
        "anchor": {
          "glossaryGuid": "984848ac-78ec-409c-8f64-8acf4870ebf5",
          "relationGuid": "c8d65569-0498-4b3b-95ef-bfb6171f8e8c"
        },
        "terms": [
          {
            "termGuid": "5d84a98e-65eb-4aa5-92f1-cf9954008bbf",
            "relationGuid": "9efd396b-9970-4206-9880-bee75f711900",
            "displayText": "GlossaryTermResource"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://dotnetllcpurviewaccount.purview.azure.com/catalog/api/atlas/v2/glossary/category/c7435ca2-56cc-4570-83c8-67b64d9d5fe1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "requestid": "7aaab222-2df5-4681-9b59-fefab8a5f2af"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://dotnetllcpurviewaccount.purview.azure.com/catalog/api/atlas/v2/glossary/term/5d84a98e-65eb-4aa5-92f1-cf9954008bbf",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "requestid": "8e5723bf-abe5-4cbd-8d91-960969e3a654"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://dotnetllcpurviewaccount.purview.azure.com/catalog/api/atlas/v2/glossary/984848ac-78ec-409c-8f64-8acf4870ebf5",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "requestid": "55a0ed0b-c8fa-4322-8a61-7988afe5c57a"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "PURVIEW_ACCOUNT_URL": "https://dotnetllcpurviewaccount.purview.azure.com/",
    "RandomSeed": "795794684"
  }
}