{
  "Entries": [
    {
      "RequestUri": "https://dotnetllcpurviewaccount.purview.azure.com/catalog/api/atlas/v2/glossary/term",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "TestGlossaryTerm",
        "shortDescription": "Example Short Description",
        "longDescription": "Example Long Description",
        "status": "Approved",
        "anchor": {
          "glossaryGuid": "c9843adb-8d1f-439d-a834-3a44943aa664"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "guid": "61281513-df04-4c31-87f0-8d244777efa2",
        "qualifiedName": "TestGlossaryTerm@GlossaryTest1025",
        "name": "TestGlossaryTerm",
        "shortDescription": "Example Short Description",
        "longDescription": "Example Long Description",
        "lastModifiedTS": "1",
        "createdBy": "6d0fee93-2b74-46dd-a497-e74f724b6125",
        "updatedBy": "6d0fee93-2b74-46dd-a497-e74f724b6125",
        "createTime": 1636615477324,
        "updateTime": 1636615477324,
        "status": "Approved",
        "anchor": {
          "glossaryGuid": "c9843adb-8d1f-439d-a834-3a44943aa664",
          "relationGuid": "18a36ff9-4d63-4c21-adda-a2a23b39b867"
        }
      }
    },
    {
      "RequestUri": "https://dotnetllcpurviewaccount.purview.azure.com/catalog/api/atlas/v2/glossary/term/61281513-df04-4c31-87f0-8d244777efa2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "TestGlossaryTerm",
        "shortDescription": "Updated Short Description",
        "status": "Approved",
        "anchor": {
          "glossaryGuid": "c9843adb-8d1f-439d-a834-3a44943aa664"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "guid": "61281513-df04-4c31-87f0-8d244777efa2",
        "qualifiedName": "TestGlossaryTerm@GlossaryTest1025",
        "name": "TestGlossaryTerm",
        "shortDescription": "Updated Short Description",
        "lastModifiedTS": "2",
        "createdBy": "6d0fee93-2b74-46dd-a497-e74f724b6125",
        "updatedBy": "6d0fee93-2b74-46dd-a497-e74f724b6125",
        "createTime": 1636615477324,
        "updateTime": 1636615477881,
        "status": "Approved",
        "anchor": {
          "glossaryGuid": "c9843adb-8d1f-439d-a834-3a44943aa664",
          "relationGuid": "7453dcc7-8801-401f-b586-9a100abfc851"
        }
      }
    },
    {
      "RequestUri": "https://dotnetllcpurviewaccount.purview.azure.com/catalog/api/atlas/v2/glossary/term/61281513-df04-4c31-87f0-8d244777efa2/partial",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "longDescription": "Updated Long Description"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "guid": "61281513-df04-4c31-87f0-8d244777efa2",
        "qualifiedName": "TestGlossaryTerm@GlossaryTest1025",
        "name": "TestGlossaryTerm",
        "shortDescription": "Updated Short Description",
        "longDescription": "Updated Long Description",
        "lastModifiedTS": "3",
        "createdBy": "6d0fee93-2b74-46dd-a497-e74f724b6125",
        "updatedBy": "6d0fee93-2b74-46dd-a497-e74f724b6125",
        "createTime": 1636615477324,
        "updateTime": 1636615478327,
        "status": "Approved",
        "anchor": {
          "glossaryGuid": "c9843adb-8d1f-439d-a834-3a44943aa664",
          "relationGuid": "7453dcc7-8801-401f-b586-9a100abfc851"
        }
      }
    },
    {
      "RequestUri": "https://dotnetllcpurviewaccount.purview.azure.com/catalog/api/atlas/v2/glossary/term/61281513-df04-4c31-87f0-8d244777efa2?includeTermHierarchy=false",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "guid": "61281513-df04-4c31-87f0-8d244777efa2",
        "qualifiedName": "TestGlossaryTerm@GlossaryTest1025",
        "name": "TestGlossaryTerm",
        "shortDescription": "Updated Short Description",
        "longDescription": "Updated Long Description",
        "lastModifiedTS": "3",
        "createdBy": "6d0fee93-2b74-46dd-a497-e74f724b6125",
        "updatedBy": "6d0fee93-2b74-46dd-a497-e74f724b6125",
        "createTime": 1636615477324,
        "updateTime": 1636615478327,
        "status": "Approved",
        "anchor": {
          "glossaryGuid": "c9843adb-8d1f-439d-a834-3a44943aa664",
          "relationGuid": "7453dcc7-8801-401f-b586-9a100abfc851"
        }
      }
    },
    {
      "RequestUri": "https://dotnetllcpurviewaccount.purview.azure.com/catalog/api/atlas/v2/glossary/term/61281513-df04-4c31-87f0-8d244777efa2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "requestid": "00659332-59ef-459c-9df8-b504c1f179ff"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "PURVIEW_ACCOUNT_URL": "https://dotnetllcpurviewaccount.purview.azure.com/",
    "RandomSeed": "304385189"
  }
}