{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11606"
      },
      "ResponseBody": {
        "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590",
        "authorizationSource": "RoleBased",
        "managedByTenants": [
          {
            "tenantId": "2f4a9838-26b7-47ee-be60-ccc1fdec5953"
          }
        ],
        "tags": {},
        "subscriptionId": "0b1f6471-1bf0-4dda-aec3-cb9272f09590",
        "tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
        "displayName": "AzureSDKTest",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/testRg-5-4147?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1120"
      },
      "ResponseBody": {
        "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/testRg-5-4147",
        "name": "testRg-5-4147",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/testRg-5-4147/providers/Microsoft.Resources/deployments/testDeploymentWhatIf/whatIf?api-version=2021-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "template": {
            "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
            "contentVersion": "1.0.0.0",
            "metadata": {
              "_generator": {
                "name": "bicep",
                "version": "0.4.1008.15138",
                "templateHash": "104821603399126558"
              }
            },
            "parameters": {
              "storageAccountType": {
                "type": "string",
                "defaultValue": "Standard_LRS",
                "allowedValues": [
                  "Premium_LRS",
                  "Premium_ZRS",
                  "Standard_GRS",
                  "Standard_GZRS",
                  "Standard_LRS",
                  "Standard_RAGRS",
                  "Standard_RAGZRS",
                  "Standard_ZRS"
                ],
                "metadata": {
                  "description": "Storage Account type"
                }
              },
              "location": {
                "type": "string",
                "defaultValue": "[resourceGroup().location]",
                "metadata": {
                  "description": "Location for all resources."
                }
              },
              "storageAccountName": {
                "type": "string",
                "defaultValue": "[format(\u0027store{0}\u0027, uniqueString(resourceGroup().id))]",
                "metadata": {
                  "description": "The name of the Storage Account"
                }
              }
            },
            "functions": [],
            "resources": [
              {
                "type": "Microsoft.Storage/storageAccounts",
                "apiVersion": "2021-04-01",
                "name": "[parameters(\u0027storageAccountName\u0027)]",
                "location": "[parameters(\u0027location\u0027)]",
                "sku": {
                  "name": "[parameters(\u0027storageAccountType\u0027)]"
                },
                "kind": "StorageV2",
                "properties": {}
              }
            ],
            "outputs": {
              "storageAccountName": {
                "type": "string",
                "value": "[parameters(\u0027storageAccountName\u0027)]"
              },
              "storageAccountId": {
                "type": "string",
                "value": "[resourceId(\u0027Microsoft.Storage/storageAccounts\u0027, parameters(\u0027storageAccountName\u0027))]"
              }
            }
          },
          "parameters": {
            "storageAccountType": {
              "value": "Standard_GRS"
            }
          },
          "mode": "Incremental"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/operationresults/eyJqb2JJZCI6IkRlcGxveW1lbnRXaGF0SWZKb2ItVEVTVFJHOjJENToyRDQxNDctVEVTVERFUExPWU1FTlRXSEFUSUYtMTk0QjRGQTA6MkQzNDRDOjJENEM1NToyREE0QzU6MkQ1RTNCMThEQjU2NjAiLCJqb2JMb2NhdGlvbiI6Indlc3R1czIifQ?api-version=2021-04-01",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/operationresults/eyJqb2JJZCI6IkRlcGxveW1lbnRXaGF0SWZKb2ItVEVTVFJHOjJENToyRDQxNDctVEVTVERFUExPWU1FTlRXSEFUSUYtMTk0QjRGQTA6MkQzNDRDOjJENEM1NToyREE0QzU6MkQ1RTNCMThEQjU2NjAiLCJqb2JMb2NhdGlvbiI6Indlc3R1czIifQ?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/operationresults/eyJqb2JJZCI6IkRlcGxveW1lbnRXaGF0SWZKb2ItVEVTVFJHOjJENToyRDQxNDctVEVTVERFUExPWU1FTlRXSEFUSUYtMTk0QjRGQTA6MkQzNDRDOjJENEM1NToyREE0QzU6MkQ1RTNCMThEQjU2NjAiLCJqb2JMb2NhdGlvbiI6Indlc3R1czIifQ?api-version=2021-04-01",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-reads": "11605"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/operationresults/eyJqb2JJZCI6IkRlcGxveW1lbnRXaGF0SWZKb2ItVEVTVFJHOjJENToyRDQxNDctVEVTVERFUExPWU1FTlRXSEFUSUYtMTk0QjRGQTA6MkQzNDRDOjJENEM1NToyREE0QzU6MkQ1RTNCMThEQjU2NjAiLCJqb2JMb2NhdGlvbiI6Indlc3R1czIifQ?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11604"
      },
      "ResponseBody": {
        "status": "Succeeded",
        "properties": {
          "correlationId": "194b4fa0-344c-4c55-a4c5-5e3b18db5660",
          "changes": [
            {
              "resourceId": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/testRg-5-4147/providers/Microsoft.Storage/storageAccounts/storedqgrznqdby6km",
              "changeType": "Create",
              "after": {
                "apiVersion": "2021-04-01",
                "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/testRg-5-4147/providers/Microsoft.Storage/storageAccounts/storedqgrznqdby6km",
                "kind": "StorageV2",
                "location": "westus2",
                "name": "storedqgrznqdby6km",
                "sku": {
                  "name": "Standard_GRS"
                },
                "type": "Microsoft.Storage/storageAccounts"
              }
            }
          ]
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1565763580",
    "RESOURCE_MANAGER_URL": "https://management.azure.com/",
    "SUBSCRIPTION_ID": "0b1f6471-1bf0-4dda-aec3-cb9272f09590"
  }
}
