{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11630"
      },
      "ResponseBody": {
        "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590",
        "authorizationSource": "RoleBased",
        "managedByTenants": [
          {
            "tenantId": "2f4a9838-26b7-47ee-be60-ccc1fdec5953"
          }
        ],
        "tags": {},
        "subscriptionId": "0b1f6471-1bf0-4dda-aec3-cb9272f09590",
        "tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
        "displayName": "AzureSDKTest",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/testRg-1-2524?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1124"
      },
      "ResponseBody": {
        "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/testRg-1-2524",
        "name": "testRg-1-2524",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/testRg-1-2524/providers/Microsoft.Resources/deployments/deployEx-2449?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "templateLink": {
            "uri": "https://raw.githubusercontent.com/Azure/azure-quickstart-templates/master/quickstarts/microsoft.storage/storage-account-create/azuredeploy.json"
          },
          "parameters": {
            "storageAccountType": {
              "value": "Standard_GRS"
            }
          },
          "mode": "Incremental"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/testRg-1-2524/providers/Microsoft.Resources/deployments/deployEx-2449/operationStatuses/08585456541457299467?api-version=2021-04-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1123"
      },
      "ResponseBody": {
        "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/testRg-1-2524/providers/Microsoft.Resources/deployments/deployEx-2449",
        "name": "deployEx-2449",
        "type": "Microsoft.Resources/deployments",
        "properties": {
          "templateLink": {
            "uri": "https://raw.githubusercontent.com/Azure/azure-quickstart-templates/master/quickstarts/microsoft.storage/storage-account-create/azuredeploy.json",
            "contentVersion": "1.0.0.0"
          },
          "templateHash": "4523590120167697900",
          "parameters": {
            "storageAccountType": {
              "type": "String",
              "value": "Standard_GRS"
            },
            "location": {
              "type": "String",
              "value": "westus2"
            },
            "storageAccountName": {
              "type": "String",
              "value": "storenh4issestvzeo"
            }
          },
          "mode": "Incremental",
          "provisioningState": "Accepted",
          "timestamp": "2022-06-23T02:52:20.3503494Z",
          "duration": "PT0.0004945S",
          "correlationId": "3691e105-450b-4321-b588-954f3f2449f0",
          "providers": [
            {
              "namespace": "Microsoft.Storage",
              "resourceTypes": [
                {
                  "resourceType": "storageAccounts",
                  "locations": [
                    "westus2"
                  ]
                }
              ]
            }
          ],
          "dependencies": []
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/testRg-1-2524/providers/Microsoft.Resources/deployments/deployEx-2449/operationStatuses/08585456541457299467?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11629"
      },
      "ResponseBody": {
        "status": "Running"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/testRg-1-2524/providers/Microsoft.Resources/deployments/deployEx-2449/operations?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11620"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/testRg-1-2524/providers/Microsoft.Resources/deployments/deployEx-2449/operations/5E2E77E4A3C13888",
            "operationId": "5E2E77E4A3C13888",
            "properties": {
              "provisioningOperation": "Create",
              "provisioningState": "Succeeded",
              "timestamp": "2022-06-23T02:52:46.5604913Z",
              "duration": "PT25.5493692S",
              "trackingId": "b2854ef4-cad6-4550-9e86-7cb0f9c2c18b",
              "statusCode": "OK",
              "targetResource": {
                "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/testRg-1-2524/providers/Microsoft.Storage/storageAccounts/storenh4issestvzeo",
                "resourceType": "Microsoft.Storage/storageAccounts",
                "resourceName": "storenh4issestvzeo"
              }
            }
          },
          {
            "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/testRg-1-2524/providers/Microsoft.Resources/deployments/deployEx-2449/operations/08585456541457299467",
            "operationId": "08585456541457299467",
            "properties": {
              "provisioningOperation": "EvaluateDeploymentOutput",
              "provisioningState": "Succeeded",
              "timestamp": "2022-06-23T02:52:46.6461948Z",
              "duration": "PT25.6350727S",
              "trackingId": "759ee88a-d588-4164-9dbb-6ae26eddbc97",
              "statusCode": "OK"
            }
          }
        ]
      }
    }
  ],
  "Variables": {
    "RandomSeed": "2088753646",
    "RESOURCE_MANAGER_URL": "https://management.azure.com/",
    "SUBSCRIPTION_ID": "0b1f6471-1bf0-4dda-aec3-cb9272f09590"
  }
}
