{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11887"
      },
      "ResponseBody": {
        "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590",
        "authorizationSource": "RoleBased",
        "managedByTenants": [
          {
            "tenantId": "2f4a9838-26b7-47ee-be60-ccc1fdec5953"
          }
        ],
        "tags": {},
        "subscriptionId": "0b1f6471-1bf0-4dda-aec3-cb9272f09590",
        "tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
        "displayName": "AzureSDKTest",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/testRg-4-7977?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1162"
      },
      "ResponseBody": {
        "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/testRg-4-7977",
        "name": "testRg-4-7977",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/testRg-4-7977/providers/Microsoft.Solutions/applicationDefinitions/appDef-C-4304?api-version=2019-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {
          "lockLevel": "None",
          "displayName": "appDef-C-4304",
          "description": "appDef-C-4304 description",
          "packageFileUri": "https://raw.githubusercontent.com/Azure/azure-managedapp-samples/master/Managed%20Application%20Sample%20Packages/201-managed-storage-account/managedstorage.zip"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1161"
      },
      "ResponseBody": {
        "properties": {
          "lockingPolicy": {
            "allowedActions": [],
            "allowedDataActions": []
          },
          "isEnabled": true,
          "lockLevel": "None",
          "displayName": "appDef-C-4304",
          "description": "appDef-C-4304 description",
          "artifacts": [
            {
              "name": "ApplicationResourceTemplate",
              "type": "Template",
              "uri": "https://prdsapplianceprodmwh01.blob.core.windows.net/applicationdefinitions/8C96E_0B1F64711BF04DDAAEC3CB9272F09590_EB7E7A9B1DC853140D075EF8B3E26DAA9939037AFC626E164C94670463586FBF/92c421efa87040b78e2fbb0dfe5f2bdf/applicationResourceTemplate.json"
            },
            {
              "name": "CreateUiDefinition",
              "type": "Custom",
              "uri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/testRg-4-7977/providers/Microsoft.Solutions/applicationDefinitions/appDef-C-4304/applicationArtifacts/CreateUiDefinition?api-version=2017-09-01"
            },
            {
              "name": "MainTemplateParameters",
              "type": "Custom",
              "uri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/testRg-4-7977/providers/Microsoft.Solutions/applicationDefinitions/appDef-C-4304/applicationArtifacts/MainTemplateParameters?api-version=2017-09-01"
            }
          ]
        },
        "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/testRg-4-7977/providers/Microsoft.Solutions/applicationDefinitions/appDef-C-4304",
        "name": "appDef-C-4304",
        "type": "Microsoft.Solutions/applicationDefinitions",
        "location": "westus2",
        "tags": {}
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/testRg-4-7977/providers/Microsoft.Solutions/applicationDefinitions/appDef-C-4304?api-version=2019-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-failure-cause": "gateway"
      },
      "ResponseBody": {
        "error": {
          "code": "ResourceNotFound",
          "message": "The Resource \u0027Microsoft.Solutions/applicationDefinitions/appDef-C-4304\u0027 under resource group \u0027testRg-4-7977\u0027 was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1131491781",
    "RESOURCE_MANAGER_URL": "https://management.azure.com/",
    "SUBSCRIPTION_ID": "0b1f6471-1bf0-4dda-aec3-cb9272f09590"
  }
}
