{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11910"
      },
      "ResponseBody": {
        "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590",
        "authorizationSource": "RoleBased",
        "managedByTenants": [
          {
            "tenantId": "2f4a9838-26b7-47ee-be60-ccc1fdec5953"
          }
        ],
        "tags": {},
        "subscriptionId": "0b1f6471-1bf0-4dda-aec3-cb9272f09590",
        "tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
        "displayName": "AzureSDKTest",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/testRg-3-4628?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1177"
      },
      "ResponseBody": {
        "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/testRg-3-4628",
        "name": "testRg-3-4628",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/testRg-3-4628/providers/Microsoft.Solutions/applicationDefinitions/appDef-L-7965?api-version=2019-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {
          "lockLevel": "None",
          "displayName": "appDef-L-7965",
          "description": "appDef-L-7965 description",
          "packageFileUri": "https://raw.githubusercontent.com/Azure/azure-managedapp-samples/master/Managed%20Application%20Sample%20Packages/201-managed-storage-account/managedstorage.zip"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1176"
      },
      "ResponseBody": {
        "properties": {
          "lockingPolicy": {
            "allowedActions": [],
            "allowedDataActions": []
          },
          "isEnabled": true,
          "lockLevel": "None",
          "displayName": "appDef-L-7965",
          "description": "appDef-L-7965 description",
          "artifacts": [
            {
              "name": "ApplicationResourceTemplate",
              "type": "Template",
              "uri": "https://prdsapplianceprodmwh01.blob.core.windows.net/applicationdefinitions/8C96E_0B1F64711BF04DDAAEC3CB9272F09590_3988E8D365A51B1F11D620EFA25B4F9842F0FC25B537FBF4D3EF243A077F6AAF/c5bafeac92774067985242fce2050c3f/applicationResourceTemplate.json"
            },
            {
              "name": "CreateUiDefinition",
              "type": "Custom",
              "uri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/testRg-3-4628/providers/Microsoft.Solutions/applicationDefinitions/appDef-L-7965/applicationArtifacts/CreateUiDefinition?api-version=2017-09-01"
            },
            {
              "name": "MainTemplateParameters",
              "type": "Custom",
              "uri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/testRg-3-4628/providers/Microsoft.Solutions/applicationDefinitions/appDef-L-7965/applicationArtifacts/MainTemplateParameters?api-version=2017-09-01"
            }
          ]
        },
        "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/testRg-3-4628/providers/Microsoft.Solutions/applicationDefinitions/appDef-L-7965",
        "name": "appDef-L-7965",
        "type": "Microsoft.Solutions/applicationDefinitions",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/testRg-3-4628/providers/Microsoft.Solutions/applications/application-L-7804?api-version=2019-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kind": "ServiceCatalog",
        "tags": {},
        "location": "westus2",
        "properties": {
          "managedResourceGroupId": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/managed-3-3565",
          "applicationDefinitionId": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/testRg-3-4628/providers/Microsoft.Solutions/applicationDefinitions/appDef-L-7965",
          "parameters": {
            "storageAccountNamePrefix": {
              "value": "s37832"
            },
            "storageAccountType": {
              "value": "Standard_LRS"
            }
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/testRg-3-4628/providers/Microsoft.Solutions/locations/westus2/operationStatuses/eyJmdWxseVF1YWxpZmllZEFwcGxpYW5jZUlkIjoiL3N1YnNjcmlwdGlvbnMvMGIxZjY0NzEtMWJmMC00ZGRhLWFlYzMtY2I5MjcyZjA5NTkwL3Jlc291cmNlR3JvdXBzL3Rlc3RSZy0zLTQ2MjgvcHJvdmlkZXJzL01pY3Jvc29mdC5Tb2x1dGlvbnMvYXBwbGljYXRpb25zL2FwcGxpY2F0aW9uLUwtNzgwNCIsImpvYklkIjoiQXBwbGlhbmNlUHJvdmlzaW9uaW5nSm9iOjJEUkdBOjJEVEVTVFJHOjNBMkQzOjNBMkQ0NjI4OjJEQVBQTElDQVRJT046M0EyREw6M0EyRDc4MDQifQ?api-version=2019-07-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/testRg-3-4628/providers/Microsoft.Solutions/locations/westus2/operationStatuses/eyJmdWxseVF1YWxpZmllZEFwcGxpYW5jZUlkIjoiL3N1YnNjcmlwdGlvbnMvMGIxZjY0NzEtMWJmMC00ZGRhLWFlYzMtY2I5MjcyZjA5NTkwL3Jlc291cmNlR3JvdXBzL3Rlc3RSZy0zLTQ2MjgvcHJvdmlkZXJzL01pY3Jvc29mdC5Tb2x1dGlvbnMvYXBwbGljYXRpb25zL2FwcGxpY2F0aW9uLUwtNzgwNCIsImpvYklkIjoiQXBwbGlhbmNlUHJvdmlzaW9uaW5nSm9iOjJEUkdBOjJEVEVTVFJHOjNBMkQzOjNBMkQ0NjI4OjJEQVBQTElDQVRJT046M0EyREw6M0EyRDc4MDQifQ?api-version=2019-07-01",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-writes": "1175"
      },
      "ResponseBody": {
        "properties": {
          "managedResourceGroupId": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/managed-3-3565",
          "applicationDefinitionId": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/testRg-3-4628/providers/Microsoft.Solutions/applicationDefinitions/appDef-L-7965",
          "provisioningState": "Accepted",
          "managementMode": "Managed",
          "createdBy": {
            "oid": "cf1193d8-c35c-4784-b90f-27e69de4108a",
            "applicationId": "47285eb7-8358-4f28-99e1-68cf6d00e0e4"
          },
          "updatedBy": {
            "oid": "cf1193d8-c35c-4784-b90f-27e69de4108a",
            "applicationId": "47285eb7-8358-4f28-99e1-68cf6d00e0e4"
          }
        },
        "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/testRg-3-4628/providers/Microsoft.Solutions/applications/application-L-7804",
        "name": "application-L-7804",
        "type": "Microsoft.Solutions/applications",
        "kind": "ServiceCatalog",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/testRg-3-4628/providers/Microsoft.Solutions/locations/westus2/operationStatuses/eyJmdWxseVF1YWxpZmllZEFwcGxpYW5jZUlkIjoiL3N1YnNjcmlwdGlvbnMvMGIxZjY0NzEtMWJmMC00ZGRhLWFlYzMtY2I5MjcyZjA5NTkwL3Jlc291cmNlR3JvdXBzL3Rlc3RSZy0zLTQ2MjgvcHJvdmlkZXJzL01pY3Jvc29mdC5Tb2x1dGlvbnMvYXBwbGljYXRpb25zL2FwcGxpY2F0aW9uLUwtNzgwNCIsImpvYklkIjoiQXBwbGlhbmNlUHJvdmlzaW9uaW5nSm9iOjJEUkdBOjJEVEVTVFJHOjNBMkQzOjNBMkQ0NjI4OjJEQVBQTElDQVRJT046M0EyREw6M0EyRDc4MDQifQ?api-version=2019-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11909"
      },
      "ResponseBody": {
        "status": "Accepted"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/testRg-3-4628/providers/Microsoft.Solutions/applications/application-L-7804?api-version=2019-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11899"
      },
      "ResponseBody": {
        "properties": {
          "managedResourceGroupId": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/managed-3-3565",
          "applicationDefinitionId": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/testRg-3-4628/providers/Microsoft.Solutions/applicationDefinitions/appDef-L-7965",
          "parameters": {
            "storageAccountNamePrefix": {
              "type": "String",
              "value": "s37832"
            },
            "storageAccountType": {
              "type": "String",
              "value": "Standard_LRS"
            },
            "location": {
              "type": "String",
              "value": "westus2"
            }
          },
          "outputs": {
            "storageEndpoint": {
              "type": "String",
              "value": "https://s37832zu4ll3n7x3ok6.blob.core.windows.net/"
            }
          },
          "provisioningState": "Succeeded",
          "managementMode": "Managed",
          "createdBy": {
            "oid": "cf1193d8-c35c-4784-b90f-27e69de4108a",
            "applicationId": "47285eb7-8358-4f28-99e1-68cf6d00e0e4"
          },
          "updatedBy": {
            "oid": "cf1193d8-c35c-4784-b90f-27e69de4108a",
            "applicationId": "47285eb7-8358-4f28-99e1-68cf6d00e0e4"
          }
        },
        "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/testRg-3-4628/providers/microsoft.solutions/applications/application-L-7804",
        "name": "application-L-7804",
        "type": "microsoft.solutions/applications",
        "kind": "ServiceCatalog",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Solutions/applications?api-version=2019-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11898"
      },
      "Respon[...]
