{
  "Entries": [
    {
      "RequestUri": "https://dotnetllcpurviewaccount.purview.azure.com/catalog/api/atlas/v2/entity",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "entity": {
          "typeName": "aws_s3_v2_bucket",
          "attributes": {
            "qualifiedName": "s3://testpurview",
            "description": "test-description1020",
            "accountId": "952454463371",
            "name": "test-datasource1020",
            "region": "US West (N. California)"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "mutatedEntities": {
          "CREATE": [
            {
              "typeName": "aws_s3_v2_bucket",
              "attributes": {
                "qualifiedName": "s3://testpurview"
              },
              "lastModifiedTS": "1",
              "guid": "711edfba-80b2-4db7-8c14-bc8855b9d3cb"
            }
          ]
        },
        "guidAssignments": {
          "-4665389032098540": "711edfba-80b2-4db7-8c14-bc8855b9d3cb"
        }
      }
    },
    {
      "RequestUri": "https://dotnetllcpurviewaccount.purview.azure.com/catalog/api/atlas/v2/entity/guid/711edfba-80b2-4db7-8c14-bc8855b9d3cb?minExtInfo=false",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "referredEntities": {},
        "entity": {
          "typeName": "aws_s3_v2_bucket",
          "attributes": {
            "owner": null,
            "s3AccessPolicies": [],
            "replicatedTo": null,
            "creationTime": 0,
            "replicatedFrom": null,
            "qualifiedName": "s3://testpurview",
            "lifeCycleRules": [],
            "description": "test-description1020",
            "ownerId": null,
            "cloudWatchMetrics": [],
            "accountId": "952454463371",
            "ownerName": null,
            "encryption": null,
            "partner": null,
            "permissions": null,
            "domain": null,
            "name": "test-datasource1020",
            "eTag": null,
            "region": "US West (N. California)",
            "awsTags": []
          },
          "lastModifiedTS": "1",
          "guid": "711edfba-80b2-4db7-8c14-bc8855b9d3cb",
          "status": "ACTIVE",
          "createdBy": "6d0fee93-2b74-46dd-a497-e74f724b6125",
          "updatedBy": "6d0fee93-2b74-46dd-a497-e74f724b6125",
          "createTime": 1636616105081,
          "updateTime": 1636616105081,
          "version": 0,
          "relationshipAttributes": {
            "schema": [],
            "inputToProcesses": [],
            "contained": [],
            "attachedSchema": [],
            "meanings": [],
            "outputFromProcesses": []
          }
        }
      }
    },
    {
      "RequestUri": "https://dotnetllcpurviewaccount.purview.azure.com/catalog/api/atlas/v2/entity/guid/711edfba-80b2-4db7-8c14-bc8855b9d3cb/header",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "typeName": "aws_s3_v2_bucket",
        "attributes": {
          "qualifiedName": "s3://testpurview",
          "name": "test-datasource1020",
          "description": "test-description1020"
        },
        "lastModifiedTS": "1",
        "guid": "711edfba-80b2-4db7-8c14-bc8855b9d3cb",
        "status": "ACTIVE",
        "displayText": "test-datasource1020",
        "classificationNames": [],
        "meaningNames": [],
        "meanings": []
      }
    },
    {
      "RequestUri": "https://dotnetllcpurviewaccount.purview.azure.com/catalog/api/atlas/v2/entity/guid/711edfba-80b2-4db7-8c14-bc8855b9d3cb",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "mutatedEntities": {
          "DELETE": [
            {
              "typeName": "aws_s3_v2_bucket",
              "attributes": {
                "qualifiedName": "s3://testpurview",
                "name": "test-datasource1020",
                "description": "test-description1020"
              },
              "lastModifiedTS": "2",
              "guid": "711edfba-80b2-4db7-8c14-bc8855b9d3cb",
              "status": "ACTIVE",
              "displayText": "test-datasource1020",
              "classificationNames": [],
              "meaningNames": [],
              "meanings": []
            }
          ]
        }
      }
    }
  ],
  "Variables": {
    "PURVIEW_ACCOUNT_URL": "https://dotnetllcpurviewaccount.purview.azure.com/",
    "RandomSeed": "1093729455",
    "S3_Account_ID": "952454463371"
  }
}