{
  "Entries": [
    {
      "RequestUri": "https://dotnetllcpurviewaccount.purview.azure.com/catalog/api/atlas/v2/entity/guid/26fff2b7-bb60-4443-ad26-47d466de2f45?minExtInfo=false",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "referredEntities": {},
        "entity": {
          "typeName": "aws_s3_v2_object",
          "attributes": {
            "owner": null,
            "bucketName": "testpurview",
            "lastModifiedTime": 1632715317000,
            "replicatedTo": null,
            "replicatedFrom": null,
            "qualifiedName": "s3://testpurview/taxi-tip-data.csv",
            "dataType": null,
            "description": null,
            "compressionType": null,
            "ownerId": null,
            "storageClass": null,
            "ownerName": null,
            "encryption": "",
            "size": 72343,
            "name": "taxi-tip-data.csv",
            "eTag": null,
            "region": "US West (N. California)",
            "awsTags": []
          },
          "lastModifiedTS": "5",
          "guid": "26fff2b7-bb60-4443-ad26-47d466de2f45",
          "status": "ACTIVE",
          "createdBy": "ServiceAdmin",
          "updatedBy": "9f78dd23-f3c4-450f-84af-d9bd0a224f0b",
          "createTime": 1636615053650,
          "updateTime": 1636615811607,
          "version": 0,
          "sourceDetails": {
            "ScanResourceId": "datasources/AmazonS3-z6s/scans/Scan-7Ny",
            "ScanLastModifiedAt": "2021-11-11T07:04:33.3480603Z",
            "ScanRuleSetResourceId": "scanrulesets/AmazonS3",
            "ScanRuleSetLastModifiedAt": "2021-05-30T11:56:49.0536491Z"
          },
          "collectionId": "dotnetLLCPurviewAccount",
          "relationshipAttributes": {
            "schema": [],
            "inputToProcesses": [],
            "attachedSchema": [],
            "meanings": [
              {
                "guid": "53a479f5-81bb-4305-9fe0-93af59a72a0b",
                "typeName": "AtlasGlossaryTerm",
                "entityStatus": "ACTIVE",
                "displayText": "testTerm",
                "relationshipType": "AtlasGlossarySemanticAssignment",
                "relationshipGuid": "043c9197-e90c-4e4e-bb67-bf24f8538caa",
                "relationshipStatus": "ACTIVE",
                "relationshipAttributes": {
                  "typeName": "AtlasGlossarySemanticAssignment",
                  "attributes": {
                    "expression": null,
                    "createdBy": null,
                    "steward": null,
                    "confidence": null,
                    "description": null,
                    "source": null,
                    "status": null
                  }
                }
              }
            ],
            "outputFromProcesses": [],
            "tabular_schema": {
              "guid": "95599d74-ccb4-45ad-80af-f7f6f6f60000",
              "typeName": "tabular_schema",
              "entityStatus": "ACTIVE",
              "displayText": "tabular_schema",
              "relationshipType": "tabular_schema_datasets",
              "relationshipGuid": "a6beab7e-370e-49cb-ba08-48258f35a100",
              "relationshipStatus": "ACTIVE",
              "relationshipAttributes": {
                "typeName": "tabular_schema_datasets"
              }
            }
          },
          "classifications": [
            {
              "typeName": "Microsoft.Label.9FBDE396_1A24_4C79_8EDF_9254A0F35055",
              "lastModifiedTS": "1",
              "entityGuid": "26fff2b7-bb60-4443-ad26-47d466de2f45",
              "entityStatus": "ACTIVE",
              "source": "LabelService"
            }
          ]
        }
      }
    }
  ],
  "Variables": {
    "PURVIEW_ACCOUNT_URL": "https://dotnetllcpurviewaccount.purview.azure.com/",
    "RandomSeed": "1799380081"
  }
}