{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11805"
      },
      "ResponseBody": {
        "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590",
        "authorizationSource": "RoleBased",
        "managedByTenants": [
          {
            "tenantId": "2f4a9838-26b7-47ee-be60-ccc1fdec5953"
          }
        ],
        "tags": {},
        "subscriptionId": "0b1f6471-1bf0-4dda-aec3-cb9272f09590",
        "tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
        "displayName": "AzureSDKTest",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Resources/deployments/deployEx-C-2126?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "japaneast",
        "properties": {
          "templateLink": {
            "uri": "https://raw.githubusercontent.com/Azure/azure-docs-json-samples/master/azure-resource-manager/emptyrg.json"
          },
          "parameters": {
            "rgName": {
              "value": "testDeployAtSub"
            },
            "rgLocation": {
              "value": "centralus"
            }
          },
          "mode": "Incremental"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Resources/deployments/deployEx-C-2126/operationStatuses/08585456546212169308?api-version=2021-04-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1146"
      },
      "ResponseBody": {
        "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Resources/deployments/deployEx-C-2126",
        "name": "deployEx-C-2126",
        "type": "Microsoft.Resources/deployments",
        "location": "japaneast",
        "properties": {
          "templateLink": {
            "uri": "https://raw.githubusercontent.com/Azure/azure-docs-json-samples/master/azure-resource-manager/emptyrg.json",
            "contentVersion": "1.0.0.1"
          },
          "templateHash": "15390789232182789648",
          "parameters": {
            "rgName": {
              "type": "String",
              "value": "testDeployAtSub"
            },
            "rgLocation": {
              "type": "String",
              "value": "centralus"
            },
            "tags": {
              "type": "Object",
              "value": {}
            }
          },
          "mode": "Incremental",
          "provisioningState": "Accepted",
          "timestamp": "2022-06-23T02:44:26.5803987Z",
          "duration": "PT0.0007848S",
          "correlationId": "2a5c1134-4311-4e04-a313-c8d5d1e64f60",
          "providers": [
            {
              "namespace": "Microsoft.Resources",
              "resourceTypes": [
                {
                  "resourceType": "resourceGroups",
                  "locations": [
                    "centralus"
                  ]
                }
              ]
            }
          ],
          "dependencies": []
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Resources/deployments/deployEx-C-2126/operationStatuses/08585456546212169308?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11804"
      },
      "ResponseBody": {
        "status": "Accepted"
      }
    },
[...]
