{
  "Entries": [
    {
      "RequestUri": "https://dotnetllcpurviewaccount.purview.azure.com/catalog/api/atlas/v2/types/typedefs",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "entityDefs": [
          {
            "name": "azure_sql_server_example_delete",
            "superTypes": [
              "azure_resource"
            ],
            "typeVersion": "1.0",
            "attributeDefs": [
              {
                "name": "databases",
                "typeName": "array\u003Cazure_sql_db\u003E",
                "cardinality": "SET",
                "isIndexable": false,
                "isOptional": true,
                "isUnique": false
              }
            ]
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "enumDefs": [],
        "structDefs": [],
        "classificationDefs": [],
        "entityDefs": [
          {
            "category": "ENTITY",
            "guid": "ea3fb66d-eda5-80bb-dfaf-6e3d8099df76",
            "createdBy": "6d0fee93-2b74-46dd-a497-e74f724b6125",
            "updatedBy": "6d0fee93-2b74-46dd-a497-e74f724b6125",
            "createTime": 1635490364448,
            "updateTime": 1635490364448,
            "version": 1,
            "name": "azure_sql_server_example_delete",
            "description": "azure_sql_server_example_delete",
            "typeVersion": "1.0",
            "lastModifiedTS": "1",
            "attributeDefs": [
              {
                "name": "databases",
                "typeName": "array\u003Cazure_sql_db\u003E",
                "isOptional": true,
                "cardinality": "SET",
                "valuesMinCount": 0,
                "valuesMaxCount": 2147483647,
                "isUnique": false,
                "isIndexable": false,
                "includeInNotification": false
              }
            ],
            "superTypes": [
              "azure_resource"
            ],
            "subTypes": [],
            "relationshipAttributeDefs": [
              {
                "name": "meanings",
                "typeName": "array\u003CAtlasGlossaryTerm\u003E",
                "isOptional": true,
                "cardinality": "SET",
                "valuesMinCount": -1,
                "valuesMaxCount": -1,
                "isUnique": false,
                "isIndexable": false,
                "includeInNotification": false,
                "relationshipTypeName": "AtlasGlossarySemanticAssignment",
                "isLegacyAttribute": false
              }
            ]
          }
        ],
        "relationshipDefs": []
      }
    },
    {
      "RequestUri": "https://dotnetllcpurviewaccount.purview.azure.com/catalog/api/atlas/v2/types/typedef/name/azure_sql_server_example_delete",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "requestid": "26833715-fa0e-4899-b4e4-aebf684e8c4f"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "PURVIEW_ACCOUNT_URL": "https://dotnetllcpurviewaccount.purview.azure.com/",
    "RandomSeed": "1620546942"
  }
}