{
  "Entries": [
    {
      "RequestUri": "https://dotnetllcpurviewaccount.purview.azure.com/catalog/api/atlas/v2/types/typedefs?includeTermTemplate=false",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": "{\u0022enumDefs\u0022:[{\u0022category\u0022:\u0022ENUM\u0022,\u0022guid\u0022:\u00226e30d01e-f5d0-9799-08e7-09b4f276c09c\u0022,\u0022createdBy\u0022:\u0022admin\u0022,\u0022updatedBy\u0022:\u0022admin\u0022,\u0022createTime\u0022:1615787943686,\u0022updateTime\u0022:1615787943686,\u0022version\u0022:1,\u0022name\u0022:\u0022glossary_term_status_value\u0022,\u0022description\u0022:\u0022glossary_term_status_value\u0022,\u0022typeVersion\u0022:\u00221.0\u0022,\u0022lastModifiedTS\u0022:\u00221\[...]
