{
  "Entries": [
    {
      "RequestUri": "https://dotnetllcpurviewaccount.purview.azure.com/catalog/api/atlas/v2/types/classificationdef/guid/1dab37e2-213f-a88d-7e13-064af9561e51",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "category": "CLASSIFICATION",
        "guid": "1dab37e2-213f-a88d-7e13-064af9561e51",
        "createdBy": "admin",
        "updatedBy": "admin",
        "createTime": 1615787943724,
        "updateTime": 1615787943724,
        "version": 1,
        "name": "MICROSOFT.PERSONAL.EMAIL",
        "description": "Email Address",
        "typeVersion": "1.0",
        "options": {
          "displayName": "Email Address"
        },
        "attributeDefs": [],
        "superTypes": [],
        "entityTypes": [],
        "subTypes": []
      }
    }
  ],
  "Variables": {
    "PURVIEW_ACCOUNT_URL": "https://dotnetllcpurviewaccount.purview.azure.com/",
    "RandomSeed": "374692709"
  }
}