{
  "Entries": [
    {
      "RequestUri": "https://dotnetllcpurviewaccount.purview.azure.com/catalog/api/atlas/v2/types/enumdef/name/glossary_term_status_value",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "category": "ENUM",
        "guid": "6e30d01e-f5d0-9799-08e7-09b4f276c09c",
        "createdBy": "admin",
        "updatedBy": "admin",
        "createTime": 1615787943686,
        "updateTime": 1615787943686,
        "version": 1,
        "name": "glossary_term_status_value",
        "description": "glossary_term_status_value",
        "typeVersion": "1.0",
        "lastModifiedTS": "1",
        "elementDefs": [
          {
            "value": "Approved",
            "ordinal": 0
          },
          {
            "value": "Alert",
            "ordinal": 1
          },
          {
            "value": "Expired",
            "ordinal": 2
          },
          {
            "value": "Draft",
            "ordinal": 3
          }
        ]
      }
    }
  ],
  "Variables": {
    "PURVIEW_ACCOUNT_URL": "https://dotnetllcpurviewaccount.purview.azure.com/",
    "RandomSeed": "1123542108"
  }
}