{
  "Entries": [
    {
      "RequestUri": "https://dotnetllcpurviewaccount.purview.azure.com/catalog/api/atlas/v2/types/entitydef/name/azure_mariadb_view_column",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "category": "ENTITY",
        "guid": "128bd162-0c19-5441-ba2e-bb3426d148aa",
        "createdBy": "admin",
        "updatedBy": "admin",
        "createTime": 1615787946960,
        "updateTime": 1615787946960,
        "version": 1,
        "name": "azure_mariadb_view_column",
        "description": "azure_mariadb_view_column",
        "typeVersion": "1.0",
        "serviceType": "Azure Database for MariaDB",
        "options": {
          "schemaAttributes": "[\u0022dataType\u0022]"
        },
        "lastModifiedTS": "1",
        "attributeDefs": [
          {
            "name": "dataType",
            "typeName": "string",
            "isOptional": true,
            "cardinality": "SINGLE",
            "valuesMinCount": 0,
            "valuesMaxCount": 1,
            "isUnique": false,
            "isIndexable": false,
            "includeInNotification": false
          }
        ],
        "superTypes": [
          "DataSet"
        ],
        "subTypes": [],
        "relationshipAttributeDefs": [
          {
            "name": "schema",
            "typeName": "array\u003Cavro_schema\u003E",
            "isOptional": true,
            "cardinality": "SET",
            "valuesMinCount": -1,
            "valuesMaxCount": -1,
            "isUnique": false,
            "isIndexable": false,
            "includeInNotification": false,
            "relationshipTypeName": "avro_schema_associatedEntities",
            "isLegacyAttribute": false
          },
          {
            "name": "inputToProcesses",
            "typeName": "array\u003CProcess\u003E",
            "isOptional": true,
            "cardinality": "SET",
            "valuesMinCount": -1,
            "valuesMaxCount": -1,
            "isUnique": false,
            "isIndexable": false,
            "includeInNotification": false,
            "relationshipTypeName": "dataset_process_inputs",
            "isLegacyAttribute": false
          },
          {
       [...]
