{
  "Entries": [
    {
      "RequestUri": "https://dotnetllcpurviewaccount.purview.azure.com/catalog/api/atlas/v2/types/relationshipdef/name/mysql_db_views",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "category": "RELATIONSHIP",
        "guid": "df32d2b1-1ed0-8fb4-c2b3-f45a5ad3b5ab",
        "createdBy": "admin",
        "updatedBy": "admin",
        "createTime": 1631690914528,
        "updateTime": 1631690914528,
        "version": 1,
        "name": "mysql_db_views",
        "description": "mysql_db_views",
        "typeVersion": "1.0",
        "serviceType": "MySQL",
        "lastModifiedTS": "1",
        "attributeDefs": [],
        "relationshipCategory": "COMPOSITION",
        "propagateTags": "NONE",
        "endDef1": {
          "type": "mysql_db",
          "name": "views",
          "isContainer": true,
          "cardinality": "SET",
          "isLegacyAttribute": false
        },
        "endDef2": {
          "type": "mysql_view",
          "name": "db",
          "isContainer": false,
          "cardinality": "SINGLE",
          "isLegacyAttribute": false
        }
      }
    }
  ],
  "Variables": {
    "PURVIEW_ACCOUNT_URL": "https://dotnetllcpurviewaccount.purview.azure.com/",
    "RandomSeed": "764030196"
  }
}