{
  "Entries": [
    {
      "RequestUri": "https://dotnetllcpurviewaccount.purview.azure.com/catalog/api/atlas/v2/types/structdef/name/fs_permissions",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "category": "STRUCT",
        "guid": "f5e943b6-09dd-d672-a3a5-296546c5c163",
        "createdBy": "admin",
        "updatedBy": "admin",
        "createTime": 1615787944125,
        "updateTime": 1615787944514,
        "version": 2,
        "name": "fs_permissions",
        "description": "fs_permissions",
        "typeVersion": "1.1",
        "serviceType": "file_system",
        "lastModifiedTS": "2",
        "attributeDefs": [
          {
            "name": "group",
            "typeName": "file_action",
            "isOptional": false,
            "cardinality": "SINGLE",
            "valuesMinCount": 1,
            "valuesMaxCount": 1,
            "isUnique": false,
            "isIndexable": true,
            "includeInNotification": false
          },
          {
            "name": "user",
            "typeName": "file_action",
            "isOptional": false,
            "cardinality": "SINGLE",
            "valuesMinCount": 1,
            "valuesMaxCount": 1,
            "isUnique": false,
            "isIndexable": true,
            "includeInNotification": false
          },
          {
            "name": "sticky",
            "typeName": "boolean",
            "isOptional": false,
            "cardinality": "SINGLE",
            "valuesMinCount": 1,
            "valuesMaxCount": 1,
            "isUnique": false,
            "isIndexable": true,
            "includeInNotification": false
          },
          {
            "name": "others",
            "typeName": "file_action",
            "isOptional": false,
            "cardinality": "SINGLE",
            "valuesMinCount": 1,
            "valuesMaxCount": 1,
            "isUnique": false,
            "isIndexable": true,
            "includeInNotification": false
          }
        ]
      }
    }
  ],
  "Variables": {
    "PURVIEW_ACCOUNT_URL": "https://dotnetllcpurviewaccount.purview.azure.com/",
    "RandomSeed": "414805343"
  }
}