{
  "Entries": [
    {
      "RequestUri": "https://dotnetllcpurviewaccount.purview.azure.com/catalog/api/types/termtemplatedef/guid/e26f477f-62da-0e19-63df-ef90413d2cac?api-version=2021-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "category": "TERM_TEMPLATE",
        "guid": "e26f477f-62da-0e19-63df-ef90413d2cac",
        "createdBy": "9f78dd23-f3c4-450f-84af-d9bd0a224f0b",
        "updatedBy": "9f78dd23-f3c4-450f-84af-d9bd0a224f0b",
        "createTime": 1635490011582,
        "updateTime": 1635490011582,
        "version": 1,
        "name": "Test_Template",
        "description": "Test_Template",
        "typeVersion": "1.0",
        "lastModifiedTS": "1",
        "attributeDefs": [
          {
            "name": "Default",
            "typeName": "string",
            "isOptional": false,
            "cardinality": "SINGLE",
            "valuesMinCount": 1,
            "valuesMaxCount": 1,
            "isUnique": false,
            "isIndexable": false,
            "includeInNotification": false,
            "description": "Test_Default",
            "options": {
              "isDisabled": "false"
            }
          }
        ]
      }
    }
  ],
  "Variables": {
    "PURVIEW_ACCOUNT_URL": "https://dotnetllcpurviewaccount.purview.azure.com/",
    "RandomSeed": "605464571"
  }
}